<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>The configuration file for Profile Similarity Search WSF Plugin (in Plasmo currently).</comment>
<entry key="perlExecutable">{{ profilesimilarityconfig_perlExec }}</entry>
<entry key="perlScript">{{ gus_home }}/lib/perl/ApiCommonWebService/WSFPlugin/expressionSimilarity.pl</entry>
<entry key="dbConnection">{{ profilesimilarityconfig_connectionUrl }}</entry>
<entry key="dbLogin">{{ profilesimilarityconfig_dbLogin }}</entry>
<entry key="dbPassword">{{ profilesimilarityconfig_dbPassword }}</entry>
<entry key="projectId">{{ project }}</entry>
</properties>
