# IntelijIdea Project Junk
.idea/
*.iml


# Eclipse Project Junk
.factorypath
.settings/
.project
.classpath
.vscode


# Build directories
/build/
/out/
/target/
/*/target/

# Dependencies
node_modules/


# Gradle meta
.gradle/


# Compiled things
*.class


# Other version control
.svn/
.DS_Store

#
# Exported from svn:ignore
#
.hg
.hgignore
target
*~
.*~