.reset_button     { background-color: red;
                     color: yellow;
                  }
.datatitle        { background-color: #BBCCFF; }

/* hide login links */
.datatitle span   { display: none; }

.databody         { background-color: #E3E9FF; }
.searchtitle      { background-color: #BBCCFF;
                     font-size: small;
                     }
.searchbody       { background-color: #E3E9FF;
                     font-size: small;
                     }
.settingstitle    { background-color: Darkkhaki;
                     font-size: small;
                     }
.settingsbody     { background-color: #E3E9FF;
                     font-size: small;
                     }
.uploadtitle      { background-color: #BBCCFF;
                     font-size: small;
                     }
.uploadbody       { background-color: #BBCCFF;
                     font-size: small;
                     }
.tabmenu_active   { cursor: pointer;
			/* color: #002439; */
			color: #15317E;
			font-size: 14pt;
			font-weight: bold;
                        font-family: sans-serif;
			padding-top: 5px;
			padding-left: 5px;
			padding-right: 5px;
			border-top:  1px solid;
			border-left: 1px solid;
			border-right: 1px solid;
			background-color: #E3E9FF;
			border-bottom-color: #E3E9FF;
			z-index: 10;
		      }
.tabmenu_inactive { cursor: pointer;
                        color:#015F9A;
			font-size: 12pt;
			background-color: #BBCCFF;
			border-bottom-color: #E3E9FF;
			font-weight: normal;
                        font-family: sans-serif;
			padding-top:   5px;
			padding-left:  5px;
			padding-right: 5px;
			border-top:  1px solid;
			border-left: 1px solid;
			border-right: 1px solid;
		      }
.tabmenu_inactive:hover {
     text-decoration: none;
     background-color: #E3E9FF;
}
.tabbed {
    background-color: transparent;
}
.tabmenu {
    background-color: transparent;
}
.tabbody {
    background-color: #E3E9FF;
    padding-top: 5px;
    border:   1px solid;
}
.panright {
 opacity:0 !important;
}
.panleft {
 opacity:0 !important;
}
.tctl {
 color:#002439;
 text-decoration:underline;
}
.nojs {
 color:#002439;
}
.track_label {
 color:#015F9A;
}
.clickable {
  color:blue;
 text-decoration:underline;
}
.a {
 color:#9a3b00;
}
.list {visibility:hidden;}
#balloon, #closeButton { z-index: 505; }

ul.dropdown,
ul.dropdown li.hover,
ul.dropdown li:hover,
ul.dropdown ul {
	z-index: 98;
}
