/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =TAGS 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body {
	background-image: url(../images/PiroplasmaDB/background_s.jpg);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =HEADER 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/	

#header2 {
	background-image: url(../images/PiroplasmaDB/backgroundtop_s.jpg);
}

/*  quick search  dark red  */
#header_rt, #header_rt a:link, #header_rt a:visited {
   color: #6f223a;  
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =HEADER DROPDOWN MENU
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/	

#nav-top, #nav-top a:link, #nav-top a:visited {
	color: #316e9f;    
}

#nav-top li ul { 
	border-color:#316e9f; 
	list-style-image: url(../images/PiroplasmaDB/bullet_arrow.gif);
}

#nav-top li ul a:link, #nav-top li ul a:visited {
	color: #316e9f;   /* blueish */
}

#nav-top li ul a:hover, #nav-top li ul a:active {
	color: #6f223a;   /* redish */
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =HOME 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/	

.threecolumndiv div.heading {
  background-color: rgb(58,140,159); 
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Sidebar
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.menu_lefttop_drop {
  border-color: #8b465c; 
}

#menu_lefttop a.heading {
  background: #8b465c;  
}


/*THE END */
