LOGIN_SCHEMA=userlogins3.

COMMENT_SCHEMA=comments2.

LOGIN_DBLINK=@apidb.LOGIN_COMMENT

COMMENT_DBLINK=@apidb.LOGIN_COMMENT

PROJECT_ID=GiardiaDB

GIARDIA_BLAST_PATH=

SITE_ADMIN_EMAIL = mheiges@uga.edu

