<?xml version="1.0" encoding="UTF-8" ?>

<modelConfig modelName="apiCommonModel"
             webServiceUrl="http://giardiadb.org/giardiadb/services/WsfService"
             smtpServer="127.0.0.1"
             supportEmail="help@giardiadb.org"
             defaultRole="wdk_user"
             secretKeyFile="/usr/local/tomcat_instances/shared/.apidb_wdk_key"
             monitorBlockedThreads="true"
             blockedThreshold="20"

             >
             
    <queryMonitor
             baseline="0.1"
             slow="5"
             />
             
    <!-- the maxPkColumnWidth the max side of the string type primary key columns. Those columns in 
         the cache tables will be resized to the specified value. optional, default is 150 -->    
    <appDb  login="XXXXXXXX"
            password="XXXXXXXX"
            connectionUrl="jdbc:oracle:oci:@YYYYY"
            platform="Oracle"
            maxActive="20"
            maxIdle="10"
            minIdle="1"
            maxWait="50"
            showConnections="false"
            showConnectionsInterval="10"
            showConnectionsDuration="600"
            userDbLink="@devS.login_comment" 
            maxPkColumnWidth="150"
            driverInitClass="org.eupathdb.common.db.EuPathDbDriverInitializer"/>
             
    <userDb login="XXXXXXXX"
            password="XXXXXXXX"
            connectionUrl="jdbc:oracle:oci:@apicommDevS"
            platform="Oracle"
            maxActive="20"
            maxIdle="1"
            minIdle="1"
            maxWait="50"
            showConnections="false"
            showConnectionsInterval="10"
            showConnectionsDuration="600"
            userSchema="userlogins3."
            wdkEngineSchema="wdkengine." 
            driverInitClass="org.eupathdb.common.db.EuPathDbDriverInitializer"/>
           
    <emailSubject>
         <![CDATA[
            Your EuPathDB/GiardiaDB Password
         ]]>
    </emailSubject>
    <emailContent>
        <![CDATA[
        <p>Thank you for registering at GiardiaDB.org, a member of the ApiDB/EuPathDB Bioinformatics Resource Center.</p>
        <p>Your temporary password is: $$PASSWORD$$</p>
        <p>You may now login to <a href="http://giardiadb.org">GiardiaDB</a> or other ApiDB/EuPathDB member site.</p>
        ]]>
    </emailContent>
</modelConfig>

