LOGIN_SCHEMA=userlogins3.

COMMENT_SCHEMA=comments2.

LOGIN_DBLINK=@apidb.LOGIN_COMMENT

COMMENT_DBLINK=@apidb.LOGIN_COMMENT

PROJECT_ID=GiardiaDB

GIARDIA_BLAST_PATH=

MERCATOR_OUTPUT_DIR=/var/www/Common/devSiteFilesMirror/webServices/GiardiaDB/release-2.0/mercator
CNDSRC_BIN=/files/cbil/software/bin

SITE_ADMIN_EMAIL = mheiges@uga.edu
