#data-sources { padding: 5px; }

#data-sources ul { 
	list-style: disc inside none; 
	font-size:120%;
}

#data-sources .smallitalics { 
	font-size:90%;
	font-style:italic; 
}

#data-sources .anchor {
  padding: 5px;
  float: right;
}

#data-sources .caption {
  color: #555555;
}

#data-sources .category div.ctitle {
	background-color:lightgrey;  /* #d3d3d3 */
	padding:10px;
	margin-top:10px;
	border-top:3px solid grey;
}

#data-sources .category-content .data-source {
	margin-bottom:10px;

} 
#data-sources .category-content .data-source .dstitle {
	font-size:120%;
	margin-left:5px;
	padding:5px 0;
	font-weight:bold;
}

#data-sources .category-content .data-source div.detail {
	margin-left:15px;
}

#data-sources .category-content .data-source .wdk-toggle {
	font-family: Arial;
	font-size: 100%;
}

/* cancelling jquery styles in this page*/
#data-sources .category-content .data-source .wdk-toggle h3.ui-state-default, 
#data-sources .category-content .data-source .wdk-toggle h3.ui-state-hover,
#data-sources .category-content .data-source .wdk-toggle h3.ui-state-active,
#data-sources .category-content .data-source .wdk-toggle .ui-widget-content {
	border:0;
	background:0;
}

#data-sources .category-content .data-source .wdk-toggle .ui-accordion {
	padding:0;
	margin-left:5px;
}

#data-sources .category-content .data-source .wdk-toggle h3 {
	text-decoration:underline;
	padding:0;
	line-height:2px;
}

#data-sources .category-content .data-source li {
	font-size: 85%;
}

