.gnome-view .ui-tooltip, .gnome-view .qtip { max-width:600px; }

.genome-view { width: 100%; }
.genome-view th { white-space:nowrap; }
.genome-view td { vertical-align:top; border:1px solid #AAAAAA; }
.genome-view td.length, .genome-view td.span-count { text-align:right; }

.genome-view #sequences {display:none;}

.genome-view #emptyChromosomes { float:right; margin-right:10px; }

.genome-view .region { min-width:2px; }
.genome-view .region.forward { background-color:#AAAAFF; }
.genome-view .region.reversed { background-color:#FFAAAA; }

/* height needs to account for scrolling bar when zooming */
.genome-view .canvas, .region .canvas { position:relative; overflow:visible; height:21px; }
.genome-view .canvas .ruler, .region .canvas .ruler { min-width:2px; position:absolute; height:5px; top:8px; background-color:#666666; cursor:pointer; border-left:1px solid #F5F5F5; }

.genome-view .canvas .region, .genome-view .canvas .feature, .region .canvas .feature { height:7px; min-width:2px; display:block; position:absolute; cursor:pointer; border-left:1px solid #F5F5F5; }
.genome-view .canvas .feature.forward, .region .canvas .feature.forward { top: 0px; background-color:#0000FF; }
.genome-view .canvas .feature.reversed, .region .canvas .feature.reversed { bottom: 0px; background-color:#FF0000; }
.genome-view .canvas .region.forward { top: 0px; background-color:#AAAAFF; }
.genome-view .canvas .region.reversed { bottom: 0px; background-color:#FFAAAA; }

.region {width: 800px; }
.region .end {float:right; margin:0px 10px 0px 0px;}
.region .canvas { margin:0px 10px 0px 0px; }
.region .canvas .ruler { width:100%; }
.region .features {display:none;}


.genome-view .legend { background-color:#EEEEEE; border-radius:5px; padding:5px; margin:5px; width: 425px; font-size:90%; font-style:italic;line-height:20px;}
.genome-view .legend .title {  font-weight:bold; text-align:center}
.genome-view .legend .icon { display:inline-block; width: 1.0%; }
.genome-view .legend .region { height: 20px; }
.genome-view .legend .region.diffSize { height: 15px; }
.genome-view .legend .feature { height: 7px; display:inline-block; width:25px; }
.genome-view .legend .feature.forward { background-color:#0000FF; }
.genome-view .legend .feature.reversed { background-color:#FF0000; }


.region .legend .feature { height: 5px; display:inline-block; width: 20px; }
.region .legend .feature.forward { background-color:#0000FF; }
.region .legend .feature.reversed { background-color:#FF0000; }
.genome-view .legend li { line-height: 22px; font-size:80%;}

.smaller-font {
	font-size: 90%;
}

.genome-view th, .region th { white-space:nowrap; }

div.genome-view_wrapper div.genome-view_length {
	padding-left:3em;
}
div.genome-view_wrapper div.genome-view_paginate {
	position:relative;
	top:4px;
}
