#eupathdb-PathwayRecord-cytoscape {
  position: relative;
}

#eupathdb-PathwayRecord-cytoscape .eupathdb-Menu {
  width: 90%;
}

.eupathdb-PathwayRecord-cytoscapeIcon {
  position: absolute;
  right: 0;
  top: 0;
}

.link {
  text-decoration: underline;
  /*color: #0b94b1;*/
  cursor: pointer;
}

.eupathdb-PathwayNodeDetailsContainer {
  position: absolute;
  top: 25px;
  left: 75px;
  min-width: 350px;
  min-height: 200px;
  border: 1px solid #999;
  border-radius: 4px;
  background: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, .2);
}

.eupathdb-PathwayNodeDetailsHeader {
  font-eight: bold;
  font-size: 1.2em;
  cursor: move;
  position: relative;
  padding: 6px 12px;
  background: #ddd;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.eupathdb-PathwayRecord-CytoscapeContainer {
  border:1px solid black;
  border-radius:5px;
  width: 100%;
  height: 100%;
  height: calc(100vh - 160px);
  padding-bottom: 26px;
}

#eupathdb-PathwayRecord-generaSelector-wrapper {
  position: absolute;
  background: none;
  display: none;
}

#eupathdb-PathwayRecord-generaSelector {
  width: 620px;
}

#eupathdb-PathwayRecord-generaSelector  .wdk-CheckboxListItem {
  display: inline-block;
  line-height: 1.5em;
  width: 200px;
  max-width: 625px;
}

#eupathdb-PathwayRecord-generaSelector .wdk-CheckboxListItem label {
  text-align: left;
}

#eupathdb-PathwayRecord-generaSelector .wdk-CheckboxListItem input {
  margin-right: 0.5em;
}

#eupathdb-PathwayRecord-generaSelector .hideMenu {
  float: right;
  width: 12px;
  cursor: pointer;
  margin-right: 1em;
}

#vis-menu {
  background: -webkit-linear-gradient(rgb(191,191,191), rgb(121,121,121));
  background: -o-linear-gradient(rgb(191,191,191), rgb(121,121,121));
  background: -moz-linear-gradient(rgb(191,191,191), rgb(121,121,121));
  background: linear-gradient(rgb(191,191,191), rgb(121,121,121));
  background-color: rgb(171,171,171);
  margin-bottom: inherit;
  width: auto;
}

#vis-menu li {
  z-index: 96;
}

.eupathdb-PathwayGraphSelector {
  width: 800px;
  max-width: 90vw;
  height: 80vh;
}

.eupathdb-PathwayGeneraInfo {
  font-size: 110%;
  font-style: italic;
  margin: 10px 0;
}

.eupathdb-PathwayGeneraHeading {
  padding: 10px 0;
}

.eupathdb-PathwayGeneraPresets {
  margin: 10px 0;
}

.eupathdb-PathwayGeneraPresetEntry {
  display: inline-block;
  margin: 0 5px;
}

.eupathdb-PathwayGeneraPresetOptions {
  font-size: smaller !important;
}
