#attributions-section ul { list-style: disc inside none; }
#attributions-section .data-source { margin: 3px; }
#attributions-section .data-source .title { font-weight:bold; }
#attributions-section .data-source .detail { margin:5px 12px; }


