#genome-view { width: 100%; }
#genome-view td { vertical-align:top; border:1px solid #AAAAAA; }
#genome-view td.length, #genome-view td.span-count { text-align:right; }
#genome-view .canvas { overflow:auto; height:38px; }
#genome-view .spans { position:relative; }
#genome-view .spans .ruler { height:5px; margin: 7px 0; background-color:#BBBBBB;}
#genome-view .spans .span, .legend .span { height:12px; border:1px solid #444444; border-radius: 2px; }
#genome-view .spans .span { display:block; min-width:2px; position:absolute; top:-4px; cursor:pointer; }
#genome-view .spans .span.forward, .legend .span.forward { background-color:#9999FF; }
#genome-view .spans .span.reverse, .legend .span.reverse { background-color:#FF6699; }


.legend { background-color:#EEEEEE; border-radius:5px; padding:10px; margin:5px; width: 300px; }
.legend .title { text-align:center; padding:5px; font-weight:bold; }
.legend .span { width:50px; display:inline-block; }
