.genome-view { width: 100%; }
.genome-view th { white-space:nowrap; }
.genome-view td { vertical-align:top; border:1px solid #AAAAAA; }
.genome-view td.length, .genome-view td.span-count { text-align:right; }
/* height needs to account for scrolloing bar when zooming */
.genome-view .canvas { overflow:auto; height:33px; padding: 0 2px 0 0; }
.genome-view .spans { position:relative; }
.genome-view .spans .ruler { height:3px; background-color:#666666; cursor:pointer; }
.genome-view .spans .span, .legend .span { height:4px; border:1px solid #444444; }
.genome-view .spans .span { display:block; min-width:2px; position:absolute; cursor:pointer; }
.genome-view .spans .span.forward, .legend .span.forward { top:4px; background-color:#0000FF; }
.genome-view .spans .span.reverse, .legend .span.reverse { top:11px;background-color:#FF0000; }
.genome-view .spans .span .tooltip { display:none; }

.legend { background-color:#EEEEEE; border-radius:5px; margin-bottom:5px; width: 300px; }
.legend .title { text-align:center; padding-top:5px; font-weight:bold; }
.legend .span { width:50px; display:inline-block; }

 .smaller-font {
	font-size: 90%;
}

div.genome-view_wrapper div.genome-view_length {
	padding-left:3em;
}
div.genome-view_wrapper div.genome-view_paginate {
	position:relative;
	top:4px;
}
