.ui-tooltip, .qtip { max-width:600px; }

.genome-view { width: 100%; }
.genome-view th { white-space:nowrap; }
.genome-view td { vertical-align:top; border:1px solid #AAAAAA; }
.genome-view td.length, .genome-view td.span-count { text-align:right; }

.genome-view #sequences {display:none;}

.genome-view .region { min-width:2px; }
.genome-view .region.forward { background-color:#AAAAFF; }
.genome-view .region.reverse { background-color:#FFAAAA; }

/* height needs to account for scrolloing bar when zooming */
.genome-view .canvas, .region .canvas { position:relative; overflow:visible; }
.genome-view .canvas .ruler, .region .canvas .ruler { position:absolute; height:3px; background-color:#666666; cursor:pointer; }

.genome-view .canvas { height:65px; }
.genome-view .canvas .ruler { top:31px; }


.region {width: 500px; }
.region .end {float:right; margin:0px 10px 0px 0px;}
.region .canvas { height:100px; margin:0px 10px 0px 0px; }
.region .canvas .ruler { top:12px; width:100%; }
.region .canvas .feature { height:5px; border:1px solid #444444; }
.region .canvas .feature { display:block; min-width:2px; position:absolute; cursor:pointer; }
.region .canvas .feature.forward { top:3px; background-color:#0000FF; }
.region .canvas .feature.reverse { top:17px;background-color:#FF0000; }
.region .features {display:none;}

.genome-view .canvas .region { display:block; position:absolute; cursor:pointer; border-left:1px dotted #CCCCCC; }
.genome-view .canvas .region.forward { bottom:35px; }
.genome-view .canvas .region.reverse { top:35px; }


.genome-view .legend { background-color:#EEEEEE; border-radius:5px; margin:5px; padding:5px; width: 600px; }
.genome-view .legend .title { text-align:center; padding-top:5px; font-weight:bold; }
.genome-view .legend .icon { display:inline-block; width: 3.5%; }
.genome-view .legend .region { height: 20px; }
.genome-view .legend .feature { height: 5px; }
.genome-view .legend .feature.forward { background-color:#0000FF; }
.genome-view .legend .feature.reverse { background-color:#FF0000; }
.genome-view .legend li { line-height: 22px; }

 .smaller-font {
	font-size: 90%;
}

div.genome-view_wrapper div.genome-view_length {
	padding-left:3em;
}
div.genome-view_wrapper div.genome-view_paginate {
	position:relative;
	top:4px;
}
