<?xml version="1.0" encoding="UTF-8" ?>

<modelConfig modelName="apiCommonModel"
             webServiceUrl="DO NOT NEED"
             smtpServer="127.0.0.1"
             supportEmail="DO NOT NEED"
             defaultRole="wdk_user"
             >
             
    <appDb  login=""
            password=""
            connectionUrl="jdbc:oracle:oci:@(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=dbc2.pcbi.upenn.edu)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=tryp100n.db.cbil.upenn.edu)))"
            platform="Oracle"
            maxActive="20"
            maxIdle="10"
            minIdle="1"
            maxWait="50"
            showConnections="false"
            showConnectionsInterval="10"
            showConnectionsDuration="600"
            userDbLink="@apidb.LOGIN_COMMENT" 
            />
             
    <userDb login=""
            password=""
            connectionUrl="jdbc:oracle:oci:@apicomm"
            platform="Oracle"
            maxActive="20"
            maxIdle="1"
            minIdle="1"
            maxWait="50"
            showConnections="false"
            showConnectionsInterval="10"
            showConnectionsDuration="600"
            userSchema="userlogins3."
            wdkEngineSchema="wdkstorage." 
            />
           
    <emailSubject>
         <![CDATA[
          Your TriTrypDB Password
         ]]>
    </emailSubject>
    <emailContent>
      <![CDATA[
           <p>Thank you for registering at TriTrypDB.</p>
          <p>Your temporary password is: $$PASSWORD$$</p>
           <p>You may now login to <a href="http://tritrypdb.org">TriTrypDB</a>.</p>
          <p>Thank you,</p>
           <p>TriTrypDB</p>
      ]]>
    </emailContent>
</modelConfig>
