<?xml version="1.0"?>

<commentConfig 
    login=""
    password=""
    connectionUrl="jdbc:oracle:oci:@apicomm"
    platform="Oracle"
    maxActive="50"
    maxIdle="3"
    minIdle="3"
    maxWait="120"
    commentSchema="comments2"
    userLoginSchema="userlogins3"
    userLoginDbLink=""
    userFileSchema="uploads"
    userFileUploadDir="/var/www/Common/communityFilesMirror"
/>

