PROJECT_ID=TrypDB

COMMENT_SCHEMA=comments2.

LOGIN_DBLINK=@apidb.login_comment

COMMENT_DBLINK=@apidb.login_comment

SITE_ADMIN_EMAIL = mheiges@uga.edu

MERCATOR_OUTPUT_DIR=/var/www/Common/data/tritryp_mercator-MAVID
CNDSRC_BIN=/files/cbil/software/bin

TRYP_BLAST_PATH=

