.ColocateStepForm {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &--Header {
    text-align: center;
  }

  &--SearchInputSelector {
    display: flex;
    flex-direction: column;

    width: 25%;

    >:first-child {
      margin-bottom: 1em;
    }
      
    >:not(:first-child) {
      margin: 1em 0;
    }
  }

  .wdk-CategoriesCheckboxTree {
    position: relative;
    border: 1px solid grey;
    padding: 0 0.5em;
    background-color: white;
    border-radius: 1px;
    text-align: left;

    .wdk-CheckboxTreeLinks {
      margin-left: unset;
    }
  }
}
