<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:web="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <context-param>
    <param-name>GUS_HOME</param-name>
    <param-value>/WEB-INF/wdk-model/</param-value>
  </context-param>

  <context-param>
    <!-- Service endpoint must match url-pattern for WDK service below -->
    <param-name>wdkServiceEndpoint</param-name>
    <param-value>/service</param-value>
  </context-param>

  <listener>
    <listener-class>se.jiderhamn.classloader.leak.prevention.ClassLoaderLeakPreventorListener</listener-class>
  </listener>

  <listener>
    <listener-class>org.apidb.apicommon.controller.ApplicationInitListener</listener-class>
  </listener>

  <listener>
    <listener-class>org.gusdb.wdk.jmx.JmxInitListener</listener-class>
  </listener>

  <!-- The Apache file upload library starts a cleanup thread to remove temporary files -->
  <!--    This listener destroys that thread when the webapp is unloaded.               -->
  <listener>
    <listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
  </listener>

  <!--
  <filter>
    <filter-name>MDCServletFilter</filter-name>
    <filter-class>org.gusdb.wdk.controller.filter.MDCServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MDCServletFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  -->

  <filter>
    <filter-name>HttpResponseLogger</filter-name>
    <filter-class>org.gusdb.wdk.controller.filter.HttpResponseHeaderLogger</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HttpResponseLogger</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>AssetBundlerFilter</filter-name>
    <filter-class>org.eupathdb.common.controller.AssetBundleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AssetBundlerFilter</filter-name>
    <url-pattern>/bundles/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>BetaLegacyFilter</filter-name>
    <filter-class>org.eupathdb.common.controller.BetaLegacyFilter</filter-class>
    <init-param>
      <param-name>beta</param-name>
      <!-- switch to false if in the prod branch -->
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>BetaLegacyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Replace /-PROJECT-/ in the request URL with the WDK Project ID -->
  <filter>
    <filter-name>ProjectIdMacroFilter</filter-name>
    <filter-class>org.eupathdb.common.controller.ProjectIdMacroFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ProjectIdMacroFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- UrlRewrite filter -->
  <!-- This is used in conjuction with the asset fingerprinting utilities in EbrcWebsiteCommon.
       We also set some cache-related headers here (see /WEB-INF/urlrewrite.xml). -->
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- End UrlRewrite filter -->

  <!-- JavaMelody monitoring plugin configuration -->
  <!-- <listener>
    <listener-class>net.bull.javamelody.SessionListener</listener-class>
  </listener> -->
  <!-- <filter>
    <filter-name>monitoring-display</filter-name>
    <filter-class>org.eupathdb.common.controller.MelodyDisplayFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>monitoring-display</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>monitoring</filter-name>
    <filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
    <init-param>
      <param-name>disabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>storage-directory</param-name>
      <param-value>melody-data</param-value>
    </init-param>
    <init-param>
      <param-name>log</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>monitoring</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping> -->
  <!-- End JavaMelody monitoring plugin configuration -->

  <!-- WDK RESTful client filter -->
  <servlet>
    <servlet-name>WDKClient</servlet-name>
    <jsp-file>/WEB-INF/includes/client.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>WDKClient</servlet-name>
    <url-pattern>/app/*</url-pattern>
  </servlet-mapping>
  <!-- End of WDK Restful client filter -->

  <!-- WSF RESTful service filter -->
  <servlet>
    <servlet-name>WSF</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>org.gusdb.wsf.service.WsfServiceApplication</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WSF</servlet-name>
    <url-pattern>/services/WsfService/*</url-pattern>
  </servlet-mapping>
  <!-- End of WSF Restful service filter -->

  <!-- WDK RESTful service filter -->
  <servlet>
    <servlet-name>WDK</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>org.apidb.apicommon.service.ApiWebServiceApplication</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WDK</servlet-name>
    <url-pattern>/service/*</url-pattern>
  </servlet-mapping>
  <!-- End of WSF Restful service filter -->

  <!-- The Welcome File List -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <!-- Error Page Mappings -->
  <error-page>
    <error-code>401</error-code>
    <location>/401.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/500.html</location>
  </error-page>

</web-app>

