<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:web="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <context-param>
    <param-name>GUS_HOME</param-name>
    <param-value>/WEB-INF/wdk-model/</param-value>
  </context-param>

  <!-- For the EuPathDB-BRC project, the model param goes in the webapp's context xml
  <context-param>
    <param-name>model</param-name>
    <param-value>SomeDB</param-value>
  </context-param>
  -->

  <context-param>
    <param-name>wdkAlwaysGoToSummary_param</param-name>
    <param-value>yes</param-value>
  </context-param>

  <!-- For internal WSF support -->
  <context-param>
    <param-name>wsfConfigDir_param</param-name>
    <param-value>/WEB-INF/wdk-model/config/</param-value>
  </context-param>

  <!--
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  -->

  <listener>
    <listener-class>org.gusdb.wdk.controller.ApplicationInitListener</listener-class>
  </listener>

  <listener>
    <listener-class>org.gusdb.wdk.jmx.JmxInitListener</listener-class>
  </listener>

  <listener>
    <listener-class>net.bull.javamelody.SessionListener</listener-class>
  </listener>

  <!-- The Apache file upload library starts a cleanup thread to remove temporary files -->
  <!--    This listener destroys that thread when the webapp is unloaded.               -->
  <listener>
    <listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
  </listener>

  <filter>
    <filter-name>MDCServletFilter</filter-name>
    <filter-class>org.gusdb.wdk.controller.filter.MDCServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MDCServletFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>CheckLoginFilter</filter-name>
    <filter-class>org.gusdb.wdk.controller.filter.CheckLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- mitigation for Struts1 security hole CVE-2014-0114 -->
  <filter>
    <filter-name>ParamFilter</filter-name>
    <filter-class>org.gusdb.wdk.controller.filter.ParameterFilter</filter-class>
    <init-param>
      <param-name>excludeParams</param-name>
      <param-value>(.*\.|^|.*|\[('|"))(c|C)lass(\.|('|")]|\[).*</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ParamFilter</filter-name>
    <servlet-name>wdkEuPathDbBrc</servlet-name>
  </filter-mapping>

  <!-- JavaMelody monitoring plugin configuration -->
  <filter>
    <filter-name>monitoring-display</filter-name>
    <filter-class>org.eupathdb.common.controller.MelodyDisplayFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>monitoring-display</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>monitoring</filter-name>
    <filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
    <init-param>
      <param-name>disabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>storage-directory</param-name>
      <param-value>melody-data</param-value>
    </init-param>
    <init-param>
      <param-name>log</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>monitoring</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- End JavaMelody monitoring plugin configuration -->
  
  <!-- Struts servlet to serve out most of the site -->
  <servlet>
    <servlet-name>wdkEuPathDbBrc</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>wdkEuPathDbBrc</servlet-name>
    <url-pattern>/webservices/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>wdkEuPathDbBrc</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <!-- End Struts servlet and mapping -->

  <!-- WSF Restful service filter -->
  <servlet>
    <servlet-name>WSF</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>org.gusdb.wsf.service.WsfServiceApplication</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WSF</servlet-name>
    <url-pattern>/services/WsfService/*</url-pattern>
  </servlet-mapping>
  <!-- End of WSF Restful service filter -->

  <!-- The Welcome File List -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- Error Page Mappings -->
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/wdkCustomization/jsp/Error.jsp</location>
  </error-page>
  <error-page>
     <error-code>404</error-code>
     <location>/404.jsp</location>
  </error-page>
  <error-page>
     <error-code>400</error-code>
     <location>/404.jsp</location>
  </error-page>
  <error-page>
     <error-code>500</error-code>
     <location>/500.jsp</location>
  </error-page>

  <!-- Declare tag libs for JSP and tags -->
  <jsp-config>
    <taglib>
      <taglib-uri>/WEB-INF/tld-third-party/struts-html.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld-third-party/struts-html.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/tld-third-party/pager-taglib.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld-third-party/pager-taglib.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://jakarta.apache.org/taglibs/random-1.0</taglib-uri>
      <taglib-location>/WEB-INF/tld-third-party/taglibs-random.tld</taglib-location>
    </taglib>
  </jsp-config>

</web-app>
