<?xml version="1.0" ?>
<web-app version="2.4" 
         xmlns="http://java.sun.com/xml/ns/j2ee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
                             http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <context-param>
    <param-name>GUS_HOME</param-name>
    <param-value>/WEB-INF/wdk-model/</param-value>
  </context-param>
<!-- For the EuPathDB-BRC project, the model param goes in the webapp's context xml
  <context-param>
    <param-name>model</param-name>
    <param-value>SomeDB</param-value>
  </context-param>
-->
  <context-param>
    <param-name>wdkAlwaysGoToSummary_param</param-name>
    <param-value>yes</param-value>
  </context-param>
  <context-param>
    <param-name>wdkCustomViewDir_param</param-name>
    <param-value>/customPages/</param-value>
  </context-param>
  <listener>
    <listener-class>org.gusdb.wdk.controller.ApplicationInitListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>wdkEuPathDbBrc</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>wdkEuPathDbBrc</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <servlet> 
      <servlet-name>onWebappStartup</servlet-name> 
      <servlet-class>org.apidb.apicommon.controller.OnWebappStartup</servlet-class>
      <load-on-startup>1</load-on-startup> 
  </servlet>


<!-- Internal WSF support -->
  <context-param>
    <param-name>wsfConfigDir_param</param-name>
    <param-value>/WEB-INF/wdk-model/config/</param-value>
  </context-param>

  <servlet>
    <servlet-name>AxisServlet</servlet-name>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-class>
        org.apache.axis.transport.http.AxisServlet
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-class>
        org.apache.axis.transport.http.AdminServlet
    </servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>SOAPMonitorService</servlet-name>
    <display-name>SOAPMonitorService</display-name>
    <servlet-class>
        org.apache.axis.monitor.SOAPMonitorService
    </servlet-class>
    <init-param>
      <param-name>SOAPMonitorPort</param-name>
      <param-value>5001</param-value>
    </init-param>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SOAPMonitorService</servlet-name>
    <url-pattern>/SOAPMonitor</url-pattern>
  </servlet-mapping>
<!-- End Internal WSF support -->

  <!-- The Welcome File List -->
  <welcome-file-list>
     <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>

  <!-- Error Page Mappings -->
  <error-page>
    <exception-type>java.lang.RuntimeException</exception-type>
    <location>/exception.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.IOException</exception-type>
    <location>/exception.jsp</location>
  </error-page>
  <error-page>
    <exception-type>javax.servlet.ServletException</exception-type>
    <location>/exception.jsp</location>
  </error-page>

  <error-page>
     <error-code>404</error-code>
     <location>/404.jsp</location>
  </error-page>

  <error-page>
     <error-code>400</error-code>
     <location>/404.jsp</location>
  </error-page>
  <error-page>
     <error-code>500</error-code>
     <location>/500.jsp</location>
  </error-page>

  <jsp-config>
  <taglib>
    <taglib-uri>/WEB-INF/tld-third-party/struts-html.tld</taglib-uri>
    <taglib-location>/WEB-INF/tld-third-party/struts-html.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/WEB-INF/tld-third-party/pager-taglib.tld</taglib-uri>
    <taglib-location>/WEB-INF/tld-third-party/pager-taglib.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>http://jakarta.apache.org/taglibs/random-1.0</taglib-uri>
    <taglib-location>/WEB-INF/tld-third-party/taglibs-random.tld</taglib-location>
  </taglib>
  </jsp-config>

  <filter>
    <filter-name>MDCServletFilter</filter-name>
    <filter-class>org.apidb.apicommon.controller.log4j.MDCServletFilter</filter-class>
  </filter>
 
  <filter>
    <filter-name>CheckLoginFilter</filter-name>
    <filter-class>org.gusdb.wdk.controller.CheckLoginFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>MDCServletFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
 
  <filter-mapping>
    <filter-name>CheckLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>
