#filter_div {
	width: 100%;
	min-height: 50px;
}

#instructions {
	position: relative;
	left: 70px;
}

#filter_div td {
	vertical-align: top;
}

#query_selection {
	left: 0.25em;
	position:relative;
	top: 0.25em;
	width: 25.5em;
}

#query_form {
	position: absolute;
	left:135px;
	top:279px;
	min-width: 873px;
	max-width: 84%;
	background-color: lightGrey;
	border: solid thin black;
	padding-bottom: 8px;
	z-index: 99;
}

#query_selection ul {
	list-style-type: none;
}

#query_selection .top_nav {
	line-height: 1.0;
}

#query_selection .top_nav ul {
	position:absolute; 
	top:-999em;
}

#query_selection .top_nav li { 
	position:relative;
	width:10em;
	text-align:right;
	z-index:99;
	padding-right: 13px;
}

#query_selection .top_nav li:hover {
	background-color: lightGrey;
} 

#query_selection .top_nav li ul li {
	background-color: lightGrey;
	text-align:left;
	width:12em;
}

#query_selection .top_nav li:hover ul{
	left:8em;
	top:0;
}

.red {
	color:red;
}

#close_filter_query {
	position: relative;
	left: 5px;
	top:3px;
}
 #question_title {
	position:relative;
	left: 65px;
	top:4px;
	font-size: 26px;
}


