#filter_div {
	border: solid thin black;
	width: 100%;
	min-height: 16em;
	max-height: 101em;
}

#filter_div td {
	vertical-align: top;
}

#query_selection {
	border: thin solid black;
	height: 15.27em;
	left: 0.25em;
	position:relative;
	top: 0.25em;
	width: 25.5em;
}

#query_form {
	position: relative;
	min-height:15.25em;
	max-height:100em;
	left:1em;
	top:0.2em;
	width:60.75em;
	border: solid thin black;
}

#query_selection ul {
	list-style-type: none;
}

#query_selection .top_nav {
	line-height: 1.0;
}

#query_selection .top_nav ul {
	position:absolute; 
	top:-999em;
}

#query_selection .top_nav li { 
	position:relative;
	width:10em;
	text-align:right;
	z-index:99;
}

#query_selection .top_nav li ul li {
	text-align:left;
	width:12em;
}

#query_selection .top_nav li:hover ul{
	left:8em;
	top:0;
}

.red {
	color:red;
}

.radio {
	align: center;
}
