<?xml version="1.0" encoding="UTF-8" ?>

<modelConfig modelName="apiCommonModel"
             webServiceUrl="http://localhost:9580/amoeba/services/WsfService"
             smtpServer="127.0.0.1"
             supportEmail="help@amoebadb.org"
             defaultRole="wdk_user"
             secretKeyFile="/usr/local/tomcat_instances/shared/.apidb_wdk_key"
             >
             
    <appDb  login=""
            password=""
            connectionUrl="jdbc:oracle:oci:@ameb000"
            platform="Oracle"
            maxActive="20"
            maxIdle="10"
            minIdle="1"
            maxWait="50"
            showConnections="false"
            showConnectionsInterval="10"
            showConnectionsDuration="600"
            userDbLink="@apidb.login_comment" 
            />
             
    <userDb login=""
            password=""
            connectionUrl="jdbc:oracle:oci:@apicomm"
            platform="Oracle"
            maxActive="20"
            maxIdle="1"
            minIdle="1"
            maxWait="50"
            showConnections="false"
            showConnectionsInterval="10"
            showConnectionsDuration="600"
            userSchema="userlogins3."
            wdkEngineSchema="wdkengine." 
            />
           
    <emailSubject>
         <![CDATA[
             Your AmoebaDB Password
         ]]>
    </emailSubject>
    <emailContent>
       <![CDATA[
           <p>Thank you for registering at AmoebaDB.</p>
           <p>Your temporary password is: $$PASSWORD$$</p>
           <p>You may now login to <a href="http://amoebadb.org">AmoebaDB</a>.</p>
           <p>Thank you,</p>
           <p>AmoebaDB</p>
       ]]>
    </emailContent>

</modelConfig>
