/*  Stylesheet for styles that are the same across all sites */

div.htmltooltip{
  background-color:#FFFFC3;
  border:1px solid #BBBBBB;
  font-size:98%;
  left:-1000px;
  padding:3px;
  position:absolute;
  top:-1000px;
  width:250px;
  z-index:1000;
}

p.unreadlabel {
  color:yellow;
  font-size:.5em;
  padding-left:3px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =TABLES 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

table.threecolumn {
	clear: both;
}

table.threecolumn td {
        vertical-align: top;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Main Page Bubble Lists
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.threecolumndiv {
	width: 247px;
}

.threecolumndivimg {
	display: block;
}

#info {
   width: 209px;
   min-height: 240px;
   height:auto;
   background-image: url(../images/bubble_backgrnd.png);
   background-repeat: repeat-y;
   text-align: left;
   padding-top: 2px;
   padding-right: 19px;
   padding-bottom: 0px;
   padding-left: 19px;
}

#info li
{
	line-height: 1.5em;
/*	list-style-image: url(../images/cir_bullet.png);*/
	list-style-type: none;
	margin-left: 7px;
}

#info li ul li
{
/*	list-style-image: url(../images/cir_bullet2.png);*/
	list-style-type: none;
	margin-left: 26px;
}

#infobottom {
	width: 209px;
	min-height: 35px;    /* trying to keep buckest same size */
	background-image: url(../images/bubble_bottom.png);
	background-position: bottom;
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 2px;
	padding-right: 19px;
	padding-bottom: 30px;
	padding-left: 19px;
}

#infobottom.tools {
	padding-bottom: 15px;
}



/* for Internet Explorer */
/*\*/
* html #info {
height: 240px;
}
/**/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Menu Lists
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#menu_lefttop {
	width: 220px;
	margin-top: 8px;
	position: absolute;
	left: 6px;
	top: 129px;
        z-index: 10;
}

#menu_lefttop a.heading:link, #menu_lefttop a.heading:visited {
	color: #FFFFFF;
	display: block;
}
	
#menu_lefttop a.heading:hover {
	color: #CCCCCC;
	display: block;
}

#menu_lefttop img {
        display: block;
}	
	
#menu_lefttop div {
	height: auto;
}

#menu_lefttop div ul{  /* second-level lists */
	width: 179px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding: 6px 6px 6px 4px;
	line-height: 15px;
	list-style-position: outside;  /* so bullet lists wrap under text */
	list-style-type: square;
	margin-left:  1em;
	padding-left: 0;
}

.menu_lefttop_drop {
   width: 194px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: normal;
   padding: 6px;
   line-height: 15px;
   border: 1px solid #630d0d;
   border-color: 630d0d;
   background-color: #FFFFFF;
   margin: -5px 0px 5px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =used in help.jsp, classic bullet list
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#cirbulletlist ul, #cirbulletlist ol {
	list-style-type: disc;
	margin-left:  1em;
	padding-left: 1em;
	list-style-position: outside;
}
#cirbulletlist ol {
    list-style-type: decimal;
}

.fixed {font-family:courier, fixed-width, monospace; font-size:10pt; color:#000000;}

div.innertube #record-toolbox {
    float: right;
    border-style: double;
    border-width: 3px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
         =WARNING BOXES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.announcebox {
        min-height: 35px;
        height:auto !important;
        height:35px;
        margin: 12px 25px 0 6px;
        padding: 6px;
        background-repeat: repeat-x;
        text-align: left;
        border: 1px solid #345d9b;
        vertical-align: middle;
}
.announcebox.home {
        min-width: 738px;  /*780px;  */
        margin: 12px 25px 0 226px;
}
.announcebox img {
        margin-right: 3px;
}
.announcebox td {
        vertical-align:middle;
}
.announcebox.info {
        background-image: url(../images/infobox.jpg);
        color: #093c8a;
        background-color: #cdd9eb;
}
.announcebox.error {
        color: #c4000e;
        background-color: #eec1c2;
        background-image: url(../images/errorbox.jpg);
}
.announcebox.warn {
        color: #c4000e;
        background-color: #edf0ac;
        background-image: url(../images/warnbox.jpg);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =FOOTER adds to what is in (project).css
            this allows to insert a div with version and date
***** This file has lower priority than the project.css ******
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#footer{
   position:relative;
   padding: 9px 9px 25px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 = subs  what is in (project).css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
ul#strategy_tabs {
    font-size: 16px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 = used in sample strategies
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.tableWithBorders table{
	border-collapse: collapse;
}
.tableWithBorders tr td{
	padding: 3px 4px 3px 4px;
	border: 1px solid black;
        vertical-align: middle;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     = jquery validation plugin messages
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
label.error {
  float: none;
  color: red;
  padding-left: .5em;
  vertical-align: top;
  font-weight:bold;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     = Advanced Paging Pop Up initial style
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.advanced-paging {
  display:none; 
  position:absolute;
  border:solid 2px #B2BFD4;  
  background-color:#c2cee1;
  padding:5px;
}
.advanced-paging span#CAP{
  font-size:6pt;
  cursor:pointer;
  left:214px;
  position:relative;
  top:-13px;
}
