/*  Stylesheet for styles that are the same across all sites */

div.htmltooltip{
   position: absolute;
   z-index: 1000;
   left: -1000px;
   top: -1000px;
   padding: 3px;
   width: 250px;
   background-color: lightYellow;
   border: 1px solid black;
}


div.innertube #record-toolbox {
    float: right;
    border-style: double;
    border-width: 3px;
    border-color: #CC9900;
    margin: 5px;
    padding: 5px;
    text-align: left;
    white-space: nowrap;
    background-color: #EEEEEE;
}

div.innertube #record-toolbox ul {
    list-style-type: circle;
    list-style-position: inside;
}
