/*  Stylesheet for styles that are the same across all sites */

div.htmltooltip{
  background-color:#FFFFC3;
  border:1px solid #BBBBBB;
  font-size:98%;
  left:-1000px;
  padding:3px;
  position:absolute;
  top:-1000px;
  width:250px;
  z-index:1000;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =used in help.jsp, classic bullet list
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#cirbulletlist ul {
	list-style-type: disc;
	margin-left:  1em;
	padding-left: 1em;
	list-style-position: outside;
}

.fixed {font-family:courier, fixed-width, monospace; font-size:10pt; color:#000000;}


