/*  Stylesheet for styles that are the same across all sites */

div.htmltooltip{
   position: absolute;
   z-index: 1000;
   left: -1000px;
   top: -1000px;
   padding: 3px;
   width: 250px;
   background-color: lightYellow;
   border: 2px solid black;
   padding: 5px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =used in help.jsp, classic bullet list
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#cirbulletlist ul {
	list-style-type: disc;
	margin-left:  1em;
	padding-left: 1em;
	list-style-position: outside;
}

.fixed {font-family:courier, fixed-width, monospace; font-size:10pt; color:#000000;}


