	
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Generic 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body {
	background-image: url(/assets/images/AmoebaDB/background_s.jpg);
}

.coloredtext {         /* no link */
	color: #6A5329;
}

a:link, a:visited {
	color: #4F3D1B; //darker brown
}

a:hover, a:active {
	color: #4f7f6d;  //  #5E9F87; lighter green 
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =HEADER 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/	

#header {
	background-image: url(../images/AmoebaDB/backgroundtop_s.jpg);
}

#header2 {
	background-image: url(../images/AmoebaDB/backgroundtop_s.jpg);
}


#header_rt {
   color: #58441F; //brown
}

#header_rt a:link, #header_rt a:visited {
   color: #58441F;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =HEADER DROPDOWN MENU
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/	
#nav_top {
	color: #58441F;
}

#nav_top a:link, #nav_top a:visited {
	color: #58441F;
}
#nav_top li ul {  /* second-level lists */
	background-image: url(../images/AmoebaDB/footer.png);
	border-color:#58441F;
	list-style-image: url(../images/AmoebaDB/bullet_arrow.gif);
}

#nav_top li ul a:link, #nav_top li ul a:visited {
	color: #58441F;
}

#nav_top li ul a:hover, #nav_top li ul a:active {
	color: #4f7f6d;  
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =horizontal grey menubar below header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/	

/* #menubar #mysearch {
	background-image: url(../images/AmoebaDB/my_hist_menubar.png);
	border: 1px solid #792861;
} */
 
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =main structure
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#contentcolumn {
	background-image: url(../images/AmoebaDB/footer.png);
	border: 1px solid #4F3D1B;
}

#contentcolumn2 {
	background-image: url(../images/AmoebaDB/footer.png);
	border: 1px solid #4F3D1B;
}

#mysearchhist {
	background-image: url(../images/AmoebaDB/bubble_my_searchbox.png);
	border: 1px solid #b5a3d4;
}




#main_tools {
	background-image: url(../images/AmoebaDB/tools_bckgnd.jpg);
}

#about_us_left {
	background-color: #cdc3de;
	list-style-image: url(../images/AmoebaDB/bullet_arrow.gif);
}

// not in use, remove in a few rounds
#pink_title {
	color: #4F3D1B; //brown
	background-image: url(../images/AmoebaDB/trheader.png);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Top Menu Bar Dropdown List
	
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#menu a:hover, #menu a:active {
	color:#58441F;
}

#menu ul ul a:link, #menu ul ul a:visited{
	border-bottom-color:  #58441F;
}
#menu ul ul a:hover, #menu ul ul a:active{
	border-bottom-color: #58441F;
	color: #4f7f6d;  
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Sidebar
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.menu_lefttop_drop {
   border-color:  #4F3D1B;  /* color as in contentcolumn border */
}

#menu_lefttop a.heading {
	background-image: url(../images/AmoebaDB/menu_lft2.png);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Search Boxes
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.search-box{
    border: solid 1px #58441F;
 } 


.search-box .textbox{
	border: solid 1px #58441F;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Fonts 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

h1 {
	color: #58441F;
}
h2 {
  	color: #58441F;
}


.h2center, .h3left,.h3center, .h4left {
  	color: #58441F;
}

/* seems unused 
.subcolor {
	color: #714782
}
*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =FOOTER 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
	
#footer{
   background-image: url(../images/AmoebaDB/footer.png);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =TABLES 
	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

td.headerrow {
	color: #58441F;
	background-image: url(../images/AmoebaDB/trheader.png);
}


tr.headerrow {
	color: #58441F;
}

tr.headerrow th, .flexigrid tr.headerrow th#primary_key:hover {
	background-image: url(../images/AmoebaDB/trheader.png);
}

.flexigrid tr.headerrow th:hover {
	background-image: url(../images/AmoebaDB/trhover.png);
}

td.subheaderrow {
	background-image: url(../images/AmoebaDB/trsubhead.png);
}

tr.subheaderrow th {
	background-image: url(../images/AmoebaDB/trsubhead.png);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =FOR QUERY GRID
	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

tr.headerrow2 td{
        color: #58441F; 
	background-image: url(../images/AmoebaDB/trheader.png);
}

tr.subheaderrow2 td{
	background-image: url(../images/AmoebaDB/trsubhead.png);
}

a.queryGridInactive {
        color: #C8C8C8;
}

a.queryGridActive {
        color: #58441F;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =END OF TABLES FOR QUERY GRID
	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

tr.subheaderrow th {
	border-color: #58441F;
}

tr.headerrow th { 
	border-color: #58441F;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =ABOUT US and HELP PAGES SIDEBAR
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.twoColHybLt #sidebar1 {
	background-image: url(../images/AmoebaDB/aboutus.png);
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =MISC 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// maybe used in genePage.js which deals with seeing gen page in results page , unused at the moment
span.marker a:link, span.marker a:visited {
	color: #800158;   //pink
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 = strategy workspace
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

span#stratTitle, #strategy_tabs #selected a {
	color: #58441F;
}
#strategy_tabs a:link, #strategy_tabs a:visited {
    background-color: #e9e6ee;   //very light colored grey
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 = styles for blockUI popups
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.blockMsg{
	border: 1px solid  #58441F; //brown
}

.blockPage{
	background-image: url(/assets/images/AmoebaDB/footer.png);
}

.flexigrid div.hDiv
{
	background-image:url(/assets/images/AmoebaDB/trheader.png);
}

.flexigrid div.hDiv th.thMove
{
	background-image:url(/assets/images/AmoebaDB/trheader.png);
}

div.colCopy
{
	background-image:url(/assets/images/AmoebaDB/trheader.png);
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 Strategy.css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

div#query_form {
	border: 1px solid #58441F;     //brown
}




/*THE END */
