#dyk-box,#dyk-shadow{
	display: none;
	position:absolute;
	width:417px;
	height:90px;
	top:184px;
	left:313px;
	z-index:100000;
	border:1px solid #888888;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
}

div#dyk-box{
	background-color:#FFFFFF;
}

div#dyk-shadow{
	background-color:#000000;
	left:319px;    /* 247px; */
	opacity:0.2;
	top:190px;   /* 204px; */
	z-index:800;
}

div#dyk-box div.dragHandle{
	height:5px;
}


div#dyk-box div#dyk-text{
	background-color:#FFFFFF;
	height:39px;
	margin:18px 0 10px;
	width:100%;
	overflow-y: scroll;
}

div#dyk-box div#closing-items{
	bottom:4px;
	position:absolute;
	right:8px;
}

div#dyk-box ul.tip-box{
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	background-color:#F0F0F0;
	bottom:0;
	padding:8px 0 4px;
	position:absolute;
	width:100%;
}

div#dyk-box ul.tip-box li{
	float:left;
	padding:0 2px;
}

div#dyk-box ul.tip-box li input{
	width: 87px;
}

div#dyk-box ul.tip-box li div.current{
	background-image: url(../images/red_button.gif);
}

div#dyk-box div.dragHandle span#dyk-count{
	float:right;
/*	font-family:georgia; */
	font-size:8pt;
	font-weight:bold;
	margin:-8px 7px 0 0;
}
