.reset_button     { background-color: red;
                     color: yellow;
                  }
.datatitle        { background-color: #BBCCFF; }
.databody         { background-color: #E3E9FF; }
.searchtitle      { background-color: #BBCCFF;
                     font-size: small;
                     }
.searchbody       { background-color: #E3E9FF;
                     font-size: small;
                     }
.settingstitle    { background-color: Darkkhaki;
                     font-size: small;
                     }
.settingsbody     { background-color: #E3E9FF;
                     font-size: small;
                     }
.uploadtitle      { background-color: #BBCCFF;
                     font-size: small;
                     }
.uploadbody       { background-color: #BBCCFF;
                     font-size: small;
                     }
.tabmenu_active   { cursor: pointer;
			color: black;
			background-color: #BBCCFF;
			font-size: 11pt;
			font-weight: bold;
                        font-family: sans-serif;
			padding-top: 5px;
			padding-left: 5px;
			padding-right: 5px;
			border-top:  1px solid;
			border-left: 1px solid;
			border-right: 1px solid;
			border-bottom: 1px solid;
			border-bottom-color: beige;
			z-index: 10;
		      }
.tabmenu_inactive { cursor: pointer;
			color: blue;
			font-size: 11pt;
			background-color: transparent;
			font-weight: bold;
                        font-family: sans-serif;
			padding-top:   5px;
			padding-left:  5px;
			padding-right: 5px;
		      }
.tabmenu_inactive:hover {
     text-decoration: none;
     background-color: #BBCCFF;
}
.tabbed {
    background-color: transparent;
}
.tabmenu {
    background-color: transparent;
}
.tabbody {
    background-color: #E3E9FF;
    padding-top: 5px;
    border:   1px solid;
}
