
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =TAGS 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body {
	background-image: url(/assets/images/EuPathDB/background_s.jpg);
}

a:link, a:visited {
	color: #2c5986;
}

a:hover, a:active {
	color: #610b0b;   /* red like in crypto */     /*    #88a3bc;  */
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =HEADER 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/	

#header {
	background-image: url(../images/EuPathDB/backgroundtop_s.jpg);
}

#header2 {
	background-image: url(../images/EuPathDB/backgroundtop_s.jpg);
}


#header_rt {
   color: #4a5f72;
}

#header_rt a:link, #header_rt a:visited {
   color: #33587a;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =HEADER DROPDOWN MENU
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/	
#nav_top {
	color: #255f95;
}

#nav_top a:link, #nav_top a:visited {
	color: #255f95;
}
#nav_top li ul {  /* second-level lists */
	background-image: url(../images/EuPathDB/footer.png);
	border-color:#14426d;
	list-style-image: url(../images/EuPathDB/bullet_arrow.gif);
}

#nav_top li ul a:link, #nav_top li ul a:visited {
	color: #255f95;
}

#nav_top li ul a:hover, #nav_top li ul a:active {
	color: #717775;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =STRUCTURE 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/	
/* #menubar #mysearch {
	background-image: url(../images/EuPathDB/my_hist_menubar.png);
	border: 1px solid #6e2b2a;
} */
 
#contentcolumn {
	background-image: url(../images/EuPathDB/footer.png);
	border: 1px solid #14426d;
}

#contentcolumn2 {
	background-image: url(../images/EuPathDB/footer.png);
	border: 1px solid #14426d;
}


#mysearchhist {
	background-image: url(../images/EuPathDB/bubble_my_searchbox.png);
	border: 1px solid #9eb7ce;
}

#main_tools {
	background-image: url(../images/EuPathDB/tools_bckgnd.jpg);
}

#about_us_left {
	background-color: #b8c9da;
	list-style-image: url(../images/EuPathDB/bullet_arrow.gif);
}

#pink_title {
	color: #505453;
	background-image: url(../images/EuPathDB/trheader.png);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Top Menu Bar Dropdown List
	
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#menu a:hover, #menu a:active {
	color:#013260;
}

#menu ul ul a:link, #menu ul ul a:visited{
	border-bottom-color: #610b0b;
}

#menu ul ul a:hover, #menu ul ul a:active{
	border-bottom-color: #610b0b;
	color: #013260;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Menu Lists
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.menu_lefttop_drop {
   border-color: #14426D;  /* color as in contentcolumn border */
}


#menu_lefttop a.heading {
	background-image: url(../images/EuPathDB/menu_lft2.png);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Search Boxes
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.search-box{
   border: solid 1px #255f95;
} 

.search-box .textbox{
	border: solid 1px #255f95;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Arrow Chains 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/	/* some sites do not have this */
.selectedarrow {
   border-color: #b16565;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Fonts 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

h1 {
	color: #626262;  /* dark grey  */
}
h2 {
  	color: #626262;
}
.h2center, .h3left, .h4left {
        color: #610b0b;   /* reddish */
}

.subcolor {
	color: #476580;   
/* greyed blue, kind of in between swoosh and lighter blue in header */
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =FOOTER 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
	
#footer{
   background-image: url(../images/EuPathDB/footer.png);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =TABLES 
	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

td.headerrow {
	color: #505453;
	background-image: url(../images/EuPathDB/trheader.png);
}


tr.headerrow {
	color: #505453;
}

tr.headerrow th {
	background-image: url(../images/EuPathDB/trheader.png);
}


td.subheaderrow {
	background-image: url(../images/EuPathDB/trsubhead.png);
}

tr.subheaderrow th {
	background-image: url(../images/EuPathDB/trsubhead.png);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =FOR QUERY GRID
	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

tr.headerrow2 td{
        color: #505453;
	background-image: url(../images/EuPathDB/trheader.png);
}

tr.subheaderrow2 td{
	background-image: url(../images/EuPathDB/trsubhead.png);
}

a.queryGridInactive {
        color:              #C8C8C8;
}
a.queryGridActive {
        color:              #08549c;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =END OF TABLES FOR QUERY GRID
	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

tr.subheaderrow th {
	border-color: #51575b;
}

tr.headerrow th { 
	border-color: #51575b;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    =RED BUTTON
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =WorkSpace Divs 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =ABOUT US and HELP PAGES SIDEBAR
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.twoColHybLt #sidebar1 {
	background-image: url(../images/EuPathDB/aboutus.png);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =WARNING BOXES 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =ADVANCED STRATEGY PAGING 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =used in help.jsp, classic bullet list
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =MISC 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
span.marker a:link, span.marker a:visited {
	color: #7D0101;
}

/* APPLICATION PAGE STYLES */

#strategy_tabs a:link, #strategy_tabs a:visited {
    background-color: #e4eaf0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  = for old UI with new graphics (deprecated)  
        RETHINK this section, CryptoDB.css does not have it
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 = styles for blockUI popups
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.blockMsg{
	border: 2px solid #14426d;
}

.blockPage{
	background-image: url(/assets/images/EuPathDB/footer.png);
}

.flexigrid div.hDiv
{
	background-image:url(/assets/images/EuPathDB/trheader.png);
}

.flexigrid div.hDiv th.thMove
{
	background-image:url(/assets/images/EuPathDB/trheader.png);
}

div.colCopy
{
	background-image:url(/assets/images/EuPathDB/trheader.png);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 history.css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 Strategy.css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 filter_menu.css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#query_form {
	border: 1px solid #345d9b;	
}



/*THE END */
