#filter_div {
	width: 100%;
	min-height: 50px;
}
	
#instructions {
	position: relative;
	left: 70px;
}

#filter_div td {
	vertical-align: top;
}

#query_selection {
	left: 40px;  /* 140 */
	position:relative;
	margin-top: 36px;
	width: 100%;
}

#query_form {
	/*display: none;*/
	position: absolute;
	left:150px;  /*200px;*/ /*135px;*/
	top:60px; /*279px;*/
	min-width: 860px  /* 900 */;
	max-width: 78%;
	background-color: #FFFFFF;
	background-image: url(../images/filter_top.gif);
/*	background-image: url(../images/CryptoDB/footer.png);*/
	background-repeat: repeat-x;
	background-position: 0 36px;
	border: 1px solid #345d9b;	
	padding-bottom: 8px;
	z-index: 1000;
}

#query_form form {
	position: relative;
	margin-top:40px;
}

#query_selection ul {
	background-image: url(../images/new_step_menu.jpg);
	list-style-type: none;
	border: 1px solid #888;
	padding: 3px;
}

#query_selection table {
/*	background-image: url(../images/new_step_menu.jpg);*/
	border-collapse: separate;
	border-spacing: 10px;
}

#query_selection ul li ul{
	z-index: 200;
}
#query_selection .top_nav {
	line-height: 1.3;
}

#query_selection .top_nav ul {
	position:absolute; 
	display:none;
}

#query_selection .top_nav li {
	position:relative;
	width:11em;
	text-align:left;
	z-index:50;
	padding-right: 13px;
        white-space: nowrap;
}

#query_selection .top_nav li a:link, #query_selection .top_nav li a:visited{
	color:#414141;
}

#query_selection .top_nav li a:hover{
	color:#B30101;
}

#query_selection .top_nav li:hover {
} 

#query_selection .top_nav li ul li {
	text-align:left;
	width:250px;
}

#query_selection .top_nav li:hover ul{
	display: block;
	left: 11.25em;
	top: -4px;
}

#close_filter_query {
	position: absolute;
	right: 0px;
	top:0px;
}

.close_window {
	position: absolute;
	right: 0px;
	top:0px;
}

#back_to_selection {
	position: absolute;
	left: 0px;
	top:0px;
}

#question_title {
	position:relative;
	left: 65px;
	top:4px;
	font-size: 26px;
}

.form_subtitle {
	position:relative;
	left: 20px;
	top:4px;
	font-size: 20px;
}

#form_title {
	position:relative;
	left: 65px;
	top:4px;
	font-size: 26px;
}



.dragHandle {
	position: absolute;
	left: -1px;
	background-color: Grey;
	height: 25px;
	width: 100%;
	background-image: url(../images/handbar.jpg);
	cursor: move;
	padding-top: 10px;
	border-top: 1px solid #345D9B;
	border-left: 1px solid #345D9B;
	border-right: 1px solid #345D9B;
	border-bottom: 1px solid #000000;
}

#operations {
	margin: 10px 20px 10px 40px; 
}

#operations ul li {
	float: left;
	margin: 2px 0;
}

#operations .opcheck {
        clear: left;
}

.filter {
	border: 1px solid black;
}

.filter.params, .filter.operators, .filter-button {
       background-color: #fff;
        margin: 4px;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        padding: 0;
}

.filter.params {
}

.filter.operators {
}

.filter-button {
        margin-top: 10px;
        text-align: center;
}

.filter_link {
	/*position: relative;
	float: right;
	margin-right: 5px;
	top: 65px;*/
	color: #FFFFFF;
}
table.parameter-errors{
	border-collapse:separate;
	border:1px dotted red;
	color:red;
	margin:10px 0 0 22px;
	width:95%;
}
table.parameter-errors td{
	padding:6px 0 0 10px;
}
div.bottom-close{
	position:relative;
	bottom:8px;
	right:5px;
	text-decoration:underline;
}