ul#history_tabs {
    border-bottom: 1px solid #777;
    font-size: 18px;
    margin:0;
    padding:0 10px 1.65em;
    width: 98%;
}

#history_tabs li {
    display: inline;
    list-style-type: none;
    margin:0;
    padding: 0;
}

#history_tabs a:link, #history_tabs a:visited {
    background-color: #E8EBF0;
    border: 1px solid #CCCCCC;
    border-bottom: 1px solid #777;
    color:#666666;
    float: left;
    margin-top: 2px;
    padding:0.24em 1em;
    text-align:center;
    text-decoration:none;
}

#history_tabs li a:hover {
    color:#0000CC;
}

#history_tabs #selected_type a {
    background-color: #FFFFFF;
    border: 1px solid #777;
    border-bottom: 1px solid #FFFFFF;
    color: #000000;
    font-weight:bold;
}

#history_table {
    border:1px solid black;
    clear:both;
    padding:0 1em;
}

.history_panel {
    display: none;
}

.history_panel.enabled {
    display: inline;
}

.history_panel table li {
    float:left;
}

.history_panel table li.operation {
    border:none;
    width:36px;
    margin-top: -8px;
}

#cmplt_hist_link {
    float: right;
}

