ul#history_tabs {
    border-bottom: 1px solid;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    float:left;
    margin:0 0 5px;
    padding:0 10px;
    width: 98%;
}

#history_tabs li {;
    float:left;
    padding:0.24em 0;
    margin:0;
}

#history_tabs li a {
    color:#BBC0C1;   /* #C9CCCC;*/  /* #E8EBF0; */   /* #0B4796; */  /*  #0000CC; */
    display:block;
    padding:0.24em 1em;
    text-align:center;
    text-decoration:none;
}

#history_tabs li a:hover {
    color:#0B4796;
    padding:0.24em 0.8em;
    position:relative;
}

#history_tabs #selected_type a {
    color:black;
    padding:0.24em 0.8em;
    font-weight:bold;
    position:relative;
}

#history_table {
    border:1px solid black;
    clear:both;
    padding:0 1em;
}

.history_panel {
    display: none;
}

.history_panel.enabled {
    display: inline;
}

.history_panel table {
    width: 100%;
    margin: 5px 0;
}

.history_panel table li {
    float:left;
}

.history_panel table li.operation {
    border:none;
    width:36px;
    margin-top: -8px;
}

#cmplt_hist_link {
    float: right;
    padding-top: 0.4em
}

