  #strat-instructions {
	background-color:#EDEDED;
	width:150px;
	height:100px;
	position:absolute;
	top:10px;
	left:93px;
	text-align:center;
	border-color: #ffffff #cccccc #666677 #aaaaaa;
	border-style: solid;
 	border-width: 2px;
	font-size:11pt;
	padding:0 5px 0 5px;
  }

  #strat-instructions img#ns-arrow{
	position:relative;
	top:-57px;
	margin: 0 0 -56px 0;
	height:94px;
  }

  #strat-instructions-2 {
	background-color:#EDEDED;
	border-color:#FFFFFF #CCCCCC #666677 #AAAAAA;
	border-style:solid;
	border-width:2px;
	font-size:11pt;
	height:100px;
	left:66px;
	padding:0 5px;
	position:absolute;
	text-align:center;
	top:10px;
	width:187px;
  }

  #strat-instructions-2 img#ns-arrow {
	height:94px;
	left:29px;
	margin:0 0 -79px;
	position:relative;
	top:-70px;
  }

  #strat-instructions-2 img#bs-arrow {
	height:94px;
	left:73px;
	margin:0 0 -79px;
	position:relative;
	top:-20px;
  }

/* The main diagram container needs to be positioned relatively, so that
      it's children can be positioned within it. */
   .diagram {
     position: relative;
     margin:   0 auto; /* Sorry, IE5.x/Win. */
     left:    0em;
	 background-color: #EDEDED;
     height:   120px;
     border-color: #ffffff #cccccc #666677 #aaaaaa;
	 border-style: solid;
	 border-width: 2px;
   }

   /* Turn off this Opera/Mozilla feature. */
   .diagram abbr, .diagram acronym { border-bottom: 0 }

   /* The top-level DIVs are the state boxes, which should have a border.
      We need to use ems, because the border width counts in the box size
      (except in IE5.x/Win, of course).  It will affect arrow lengths. */
   .diagram div {
     border: 2px solid #000;
   }
   
   div.sub_diagram {
	position: relative;
    /* border: 2px solid #a0a0a0;*/
   }

   /* All DIVs and list items in the diagram are absolutely positioned. */
   .diagram div {
     position: absolute;
     margin:   0;
     padding:  0;
   }
	
	.diagram div li {
	  position: absolute;
	  margin:   0.8em;
	  padding:  0;
	}

   /* State names will be centered within their boxes. */
   .diagram h3 {
     margin:      0;
     padding:     0;
     font-size:   1em;
     font-weight: normal;
     line-height: 2;
     text-align:  center;
   }

   /* The "current" state needs to stand out. */
   #current {
     background-color: #fff;
     color:            #000;
   }
   #current h3 { font-weight: bold }

   /* "Linked" states are indicated visually as state boxes. */
   .diagram div li a {
     display:          block;
     position:         absolute;
     border:           0.05em dotted #666;
     background-color: #eee;
     line-height:      2;
     text-align:       center;
   }

   /* SPANs are used for hiding explanatory text that shouldn't be used in a
      CSS-aware environment.  Those SPANs are also used for creating the
      arrowheads on transition lines (see below). */
   .diagram li span {
     position:    absolute;
     width:       0;
     height:      0;
     overflow:    hidden;
   }

   /* IE5.x/Win is somewhat buggy.  Yes, really! */
   * html .diagram li span {
     font-size:  0;
     f\ont-size: 1em;
   }

   * html .diagram .right span {
     width:   4px;
     w\idth:  0;
     height:  8px;
     he\ight: 0;
   }

   /* We'll use unordered lists for the transitions. */
   .diagram ul {
     margin:     0;
     padding:    0;
     list-style: none inside;
   }

   /* IE6/Win completely freaks out without this. */
   * html .diagram ul { width: 0 }

   /* Transition lines. */
   .diagram .right-down { /* Angled transition, right and down. */
     top:           50%;
     left:          100%;
     margin-bottom: 0.05em;
     margin-left:   0em;
     border-top: 0.25em solid #000;
     border-right:   0.25em solid #000;
   }

	.diagram .right { /* Straight horizontal transition, left to right. */
     top:           0;
     left:          100%;
     margin-left:   0.05em;
     border-bottom: 0.25em solid #000;
   }
   .diagram .right a {
     top:  0;
     left: 100%;
   }

   #strategy_name {
	font-size: 12pt;
	margin-right: 40px;
   }

	/* Arrowheads */
   
	.diagram .right-down span {
     bottom:       0;
     left:         1.45em;
     border-top:    0.6em solid #000;
     border-right:  0.3em solid #fff;
     border-left:   0.5em solid #fff;
   }

	* html .diagram .right-down span  {
		left:          -4px;
	    lef\t:         -0.3em;
	    border-width:  4px 4px 0;
	    b\order-width: 0.5em 0.3em 0;
	}
   .diagram .right span {
     right:         0;
     bottom:        -0.4em;
     border-top:    0.3em solid #fff;
     border-bottom: 0.4em solid #fff;
     border-left:   0.6em solid #000;
   }

   * html .diagram .right span {
     bottom:        -4px;
     b\ottom:       -0.3em;
     border-width:  4px 0 4px 4px;
     b\order-width: 0.3em 0 0.3em 0.5em;
   }

   /* Rows, columns, heights, widths, and sizes. */
   .row1 { 
		top: 10px;/*0.6em;*/ 
	}
   .row2 { 
		top: 56.6px;/*4.6em;*/
	}
   
   .col1 { 
		left: 12px;/*1em;*/ 
	}
   
   .size1 { width: 8em; height: 3em; }
   .size2 { width: 8em; height: 3em;}

   .height1 { height: 3.9em }

   .rightarrow1 {
		position: absolute;
		left: 7.4em;
		top: -3.2em;
		z-index: 1;
		height: 11px;
		width: 47px;
	 }
	
   .rightarrow2 {
		position: absolute;
		z-index: 1;
		top: -3.1em;
		left: 4.5em;
		height: 10px;
		width: 92px;
	 }
	
	.rightarrow3 {
			position: absolute;
			left: 54px;
			top: -3.2em;
			z-index: 1;
			height: 11px;
			width: 54px;
		 }
		
   .downarrow {
		position: absolute;
		left: 3.2em;
		top: -0.6em;
		z-index: 1; 	
	 }
	
	.operation {
		height: 18px;
		text-align: center;
	/*	width: 8em;*//*5.6em;*/
		margin-top: -4px;
	/*	margin-left: 2px;*/
		margin-right: 2px;
		padding: 5px 0 0 0;
	}
	/* added to deal with operators showing well when adding a substrategy, in TriTryp  */
	td.operation {
		height: 18px;
		width: 40px;
	}

	.operation.UNION {
		border: 2px solid #FFFFFF;
		height: 25px;
		background: url(/assets/images/operationIcons.gif) no-repeat -28px -73px;
	}

	.operation.INTERSECT {
		border: 2px solid #FFFFFF;
		height: 25px;
		background: url(/assets/images/operationIcons.gif) no-repeat -28px -37px;
	}

	.operation.MINUS {
		border: 2px solid #FFFFFF;
		height: 25px;
		background: url(/assets/images/operationIcons.gif) no-repeat -28px -1px;
	}
	
	
	.diagram div.operation.UNION {
		border: 2px solid #EDEDED;
		height: 37px;
		background: url(/assets/images/operationIcons.gif) no-repeat 0px -73px;
	}

	.diagram div.operation.INTERSECT {
		border: 2px solid #EDEDED;
		height: 37px;
		background: url(/assets/images/operationIcons.gif) no-repeat 0px -37px;
	}

	.diagram div.operation.MINUS {
		border: 2px solid #EDEDED;
		height: 37px;
		background: url(/assets/images/operationIcons.gif) no-repeat 0px -1px;
	}
	
	.diagram div.operation.UNION.selected {
		border: 2px solid #ffffa0;
		height: 37px;
		background: url(/assets/images/operationIcons_yellow.gif) no-repeat 0px -73px;
	}

	.diagram div.operation.INTERSECT.selected {
		border: 2px solid #ffffa0;
		height: 37px;
		background: url(/assets/images/operationIcons_yellow.gif) no-repeat 0px -37px;
	}

	.diagram div.operation.MINUS.selected {
		border: 2px solid #ffffa0;
		height: 37px;
		background: url(/assets/images/operationIcons_yellow.gif) no-repeat 0px -1px;
	}

	a.operation img {
		height: 22px;
		width: 8em;
	}

	span.stepNumber {
		position: absolute;
		top:8.25em;
		font-weight:bold;
	}
	
	h6.resultCount {
		font-size:10px;
		font-style: italic;
		font-weight: bold;
		text-align:center;
	}
	
	div.arrowgrey span.resultCount{
		padding-left: 20px;
		z-index:1;
	}

	.diagram div.transform {
		border: none;
		height: 3.4em;
		width: 8.7em;
	}

	.transform {
		background: url(/assets/images/TransformBg.gif) no-repeat -1px -0.5px;
	}

	.selectedtransform {
		background: url(/assets/images/TransformBg_yellow.gif) no-repeat -1px -0.5px;
                border: none;
	}

	div.expandedStep {
		background-image:url(/assets/images/sSbackground2.gif);
		border:none;
		height:44px;
		position:absolute;
		top:3px;
		width:109px;
		z-index:0;
	}

	#bread_crumb_div {

	}

	div.crumb_details {
		display: none;
		background-color: #eee;
		color: #000000;
		border: solid black;
		position:absolute;
		z-index: 1000;
		min-width: 365px;
		text-align: center;
		padding-bottom: 5px;
	}

	.crumb_details div.crumb_menu {
		background-image:url(../images/CryptoDB/trsubhead.png);	
		position: relative;
		white-space: nowrap;
		border-bottom: 2px solid #000000;
		padding: 6px 0px 5px 0px;
		height: 12px;
		margin-right:-6px;
		cursor:move;
	}

	.crumb_menu span, .crumb_menu a {
		font-size: 12px;
	}

	#bread_crumb_div td {
		vertical-align: top;
	}

.param {
	margin: 0;
	font-size: 12px;
}

.param .name {
	font-weight: bold;
}

.question_name {
	font-size: 14px;
	margin: 3px 0px;
}

.question_name span {
	font-weight: bold;
}

/*
.crumb_details table {
	margin: 0px 5px 0px 19px;
}

.crumb_details table td {
	padding: 0px 0px 0px 0px;
}

#step_details p {
	margin: 0 auto;*/

.crumb_details table {
	margin: 7px 47px;
	line-height: 1;
	border-collapse: separate;
	border-spacing: 2px;
}

.diagram div#record_name {
        border: none;
        left: 4px;
        top: 0px;
        text-align: left;
        font-color: #08438F;
        font-weight:bold;
        text-decoration:none;;
}


.diagram div#strategy_name {
	border: none;
	right: 0px;/*40px;*/
	top: 5px;
	text-align: right;
}

span.closeStrategy {
	float: right;
}

.diagram div#strategy_name span.strategy_small_text {
	font-size: 10px;
	color: #888;

}

.diagram h6.step_info_link {
	border: none;
	left: 86px;
	top: -34px;
	position: relative;
}

.diagram h6.step_info_link div.info_link_pop_up_div {
	display: none;
	background-color: lightYellow;
	font-weight: normal;
	font-size: 10px;
	border: thin solid black;
	color: #000000;
}

.diagram h6.step_info_link a:hover div.info_link_pop_up_div {
	display: block;
	position: relative;
	top: -24px;
	left: 15px;
	z-index: 5;
}

/* First selector is for history page,
   second selector is for strat diagram */
.modal_div, .diagram .modal_div {
	display: none;
	background-color: #FFFFFF;
	background-image: url(../images/filter_top.gif);
	background-repeat: repeat-x;
	border: 1px solid #345d9b;	
	padding-bottom: 0px;
	padding-top: 4px;
	z-index: 90;
}

.modal_div .dragHandle {
	top: -22px;  /*  -25px; */
	height: 11px;  /*  13px; */
}

.dragHandle .modal_name {
	border: none;
	top: 0;
	width: 100%;
}

.save_strat, .diagram .save_strat {
	position: absolute;
	right: 0;
	top: 5em;
	width: 25em;
}

.save_strat .dragHandle .modal_name {
        margin:0;
        padding:0;
        position:absolute;
}

/* First selector is for history page,
   second selector is for strat diagram */
.export_link, .diagram .export_link {
	text-align: center;
	position: absolute;
	right: 0;
	top: 6em;
}

/* First selector is for history page,
   second selector is for strat diagram */
.export_link p, .diagram .export_link p {
	font-size: 10pt;
	color: #000000;
	padding: 5px;
}

/* First selector is for history page,
   second selector is for strat diagram */
.export_link input, .diagram .export_link input {
	margin: 5px;
}

.diagram .filterImg {
	position:relative;
	float:right;
	right:3px;
	top:-10px;
}

.disabled {
	opacity:0.4;
	cursor:move;
}

a.disabled:hover, a.disabled:active {
	color:#0B4796;
}
