	
@import url("reset.css");	

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =TAGS 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body {
	text-align: left;
	color: #333333;
	background-color: #ffffff;
	background-image: url(../images/crypto/background.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-repeat: repeat-x;
	white-space: normal;
}
a:link, a:visited {
	color: #0b4796;
	text-decoration: none;
}
a:hover, a:active {
	color: #83a6d4;
	text-decoration: underline;
}
#wrap {
	width: 100%;
	text-align: left;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =HEADER 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/	

#header {
	color: #666666;
	font-size: 10px;
	width: 100%;
	height: 159px;
	text-align: left;
	background-image: url(../images/crypto/backgroundtop.jpg);
	background-repeat: no-repeat;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =STRUCTURE 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/	

#menubar {
	min-width: 900px;
	height: 19px;
	text-align: left;
	background-image: url(../images/menu_bar.png);
	background-repeat: repeat-x;
	padding-top: 6px;
	padding-left: 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: middle;
	clear: both;
}

#menubar #mysearch {
	width: auto;
	background-image: url(../images/crypto/my_hist_menubar.png);
	background-repeat: repeat-x;
	margin-top: -4px;
	padding: 3px;
	border: 1px solid #6e2929;
}
 
#contentwrapper {
	float: left;
	width: 100%;
	margin: 6px 0 12px 0;
}

#contentcolumn {
	min-width: 750px;
	margin: 0 25px 0 226px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
	background-color: #FFFFFF;
	background-image: url(../images/crypto/footer.png);
	background-repeat: repeat-x;
	text-align: left;
	border: 1px solid #345d9b;
}

#leftcolumn {
	float: left;
	width: 220px; /*Width of left column*/
	margin-left: -100%;
}

#rightcolumn {
	float: left;
	width: 25px; /*Width of right column*/
	margin-left: -25px; /*Set left marginto -(RightColumnWidth)*/
}


#center {
	width: 100%;
	text-align: center;

}


#mysearchhist {
	width: 100%x;
	text-align: center;
	background-image: url(../images/crypto/bubble_my_searchbox.png);
	background-repeat: repeat-x;
	border: 1px solid #aebed7;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-top: 12px;
}

.innertube{
margin: 6px; /*Margins for inner DIV inside each column (to provide padding)*/
}

#half_left {
	width: 45%;
	text-align: right;
	padding: 4px;
	margin: 6 0 12 0;
	float: left;
}

#half_right {
	width: 45%;
	text-align: left;
	padding: 4px;
	margin: 6 0 12 0;
	float: right;
}

#full {
	width: 100%;
	text-align: center;
	clear: both;
}

#main_tools {
	width: 95%;
	text-align: left;
	clear: both;
	line-height: 1.3em;
	background-image: url(../images/crypto/tools_bckgnd.jpg);
	background-repeat: no-repeat;
	padding: 16px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Main Page Bubble Lists
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#3columndiv {
	width: 247px;
}

#info {
	width: 209px;
	min-height: 240px;
	background-image: url(../images/bubble_backgrnd.png);
	background-repeat: repeat-y;
	text-align: left;
	padding-top: 2px;
	padding-right: 19px;
	padding-bottom: 0px;
	padding-left: 19px;
}


#info li
{
	line-height: 1.5em;
	list-style-image: url(../images/cir_bullet.png);
	list-style-type: none;
	margin-left: 16px;
}

#info li ul li
{
	list-style-image: url(../images/cir_bullet2.png);
	list-style-type: none;
	margin-left: 10px;
}




/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Top Menu Bar Dropdown List
	
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


#nav, #nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

#nav a:link, #nav a:visited {
	display: block;
	width: auto;
	color: #FFFFFF;
	text-decoration: none;
}
#nav a:hover, #nav a:active {
	display: block;
	width: auto;
	color: #560000;
	text-decoration: none;
}

#nav li {
	float: left;
	width: auto;
}

#nav li ul {  /* second-level lists */
	position: absolute;
	width: 16em;
	left: -999em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	background-color: #FFFFFF;
	background-image: url(../images/dropdownmenu.jpg);
	background-repeat: repeat-x;
	background-position: top;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color:#888888;
	padding: 6px 6px 6px 18px;
	line-height: 14px;
	list-style-image: url(../images/crypto/bullet_arrow.gif);
}

#nav li:hover ul {
	left: auto;
	
}

#nav li ul a:link, #nav li ul a:visited {
	color: #414141;
	text-decoration: none;
	padding: 2px;
	width: 16em;
}
#nav li ul a:hover, #nav li ul a:active {
	color: #b30101;
	text-decoration: none;
	padding: 2px;
	background-color: #FFFFFF;
	width: 16em;
}

#nav li:hover ul, #nav li.sfhover ul {
	left: auto;
}

#nav li ul li ul {  /* third-and-above-level lists */
	margin: -1em 0 0 16em;
}

#nav li:hover ul ul, #nav li.sfhover ul ul {
	left: -999em;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Menu Lists
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/



#menu_lefttop {
	width: 220px;
}
#menu_lefttop li a {
	height: 24px;
	width: 191px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	voice-family: "\"}\"";
	voice-family: inherit;
	text-decoration: none;
	background-image: url(../images/crypto/menu_lft2.png);
	background-repeat: no-repeat;
	padding-right: 6px;
	padding-left: 11px;
	margin-bottom: 5px;
}

#menu_lefttop li a:link, #menu_lefttop li a:visited {
	color: #FFFFFF;
	display: block;
	}
	
#menu_lefttop li a:hover {
	color: #CCCCCC;
	display: block;
	}	

#menu_lefttop li ul {  /* second-level lists */
	position: absolute;
	width: 191px;
	left: -999em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	background-color: #FFFFFF;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color:#630d0d;
	padding: 6px 6px 6px 11px;
	line-height: 15px;
	list-style-image: url(../images/crypto/bullet_6.png);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Search Boxes
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.search-box{
width: 14em;
padding: 2px;
color: #333333;
background-color: #EEEEEE;
border: solid 1px #b3b3b3;
font-size: 11px;
}
.search-box input{
font-family:Arial, Helvetica, sans-serif;
}
.search-box .textbox{
color: #333333;
padding: 3px 5px;

background-color: #EEEEEE;
border: solid 1px #b3b3b3;
}
.search-box .submit{
padding: 3px 0;
color: white;
background: black;

}
.img_align_middle {
	white-space: normal;
	margin-bottom: -4px;
}




/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Fonts 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

h1 {
	font-size: 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #345d9b;
	text-align: center;
	margin-bottom: 14px;
}
h2 {
	font-size: 18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-bottom: 11px;
}

.18fnt {
	font-size: 18px;
	font-weight: bold;
	line-height: 23px;
}
.22fnt {
	font-size: 22px;
	font-weight: bold;
	line-height: 28px;
}

.subcolor {
	color: #714782
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =FOOTER 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/



#footer{
	width: 75%;
	text-align: center;
	background-color:#FFFFFF;
	background-image: url(../images/crypto/footer.png);
	background-repeat: repeat-x;
	color: #505050;
	padding: 9px;
	line-height: 1.2em;
	clear: both;
}
	

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =TABLES 
	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
table .3column {
	clear: both;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =MISC 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
clear {
	clear: both;
}
