<?xml version="1.0"?>
<!--
{# $SourceFileURL$ #}
Templated by Conifer using
{{ template_path }}
with vars from
Cohort: {{ cohort }}
Project: {{ project }}
Environment: {{ env|default() }}
site_vars file: {{ site_vars }}
-->
<commentConfig
    login="{{ commentconfig_login }}"
    password="{{ commentconfig_password }}"
    commentSchema="{{ commentconfig_commentSchema }}"
    userLoginSchema="{{ commentconfig_userLoginSchema }}"
    userLoginDbLink="{{ commentconfig_userLoginDbLink }}"
    {% if commentconfig_connectionUrl is defined and commentconfig_connectionUrl != "" -%}
    connectionUrl="{{ commentconfig_connectionUrl }}"
    {% endif -%}
    {% if commentconfig_ldapServer is defined and commentconfig_ldapServer != "" -%}
    ldapServer="{{ commentconfig_ldapServer }}"
    {% endif -%}
    {% if commentconfig_ldapBaseDn is defined and commentconfig_ldapBaseDn != "" -%}
    ldapBaseDn="{{ commentconfig_ldapBaseDn }}"
    {% endif -%}
    {% if commentconfig_ldapCommonName is defined and commentconfig_ldapCommonName != "" -%}
    ldapCommonName="{{ commentconfig_ldapCommonName }}"
    {% endif -%}
    {% if commentconfig_dbHost is defined and commentconfig_dbHost != "" -%}
    dbHost="{{ commentconfig_dbHost }}"
    {% endif -%}
    {% if commentconfig_dbPort is defined and commentconfig_dbPort != "" -%}
    dbPort="{{ commentconfig_dbPort }}"
    {% endif -%}
    {% if commentconfig_dbIdentifier is defined and commentconfig_dbIdentifier != "" -%}
    dbIdentifier="{{ commentconfig_dbIdentifier }}"
    {% endif -%}
    {% if commentconfig_platform is defined and commentconfig_platform != "" -%}
    platform="{{ commentconfig_platform }}"
    {% endif -%}
    {% if commentconfig_maxActive is defined -%}
    maxActive="{{ commentconfig_maxActive }}"
    {% endif -%}
    {% if commentconfig_maxIdle is defined -%}
    maxIdle="{{ commentconfig_maxIdle }}"
    {% endif -%}
    {% if commentconfig_minIdle is defined -%}
    minIdle="{{ commentconfig_minIdle }}"
    {% endif -%}
    {% if commentconfig_maxWait is defined -%}
    maxWait="{{ commentconfig_maxWait }}"
    {% endif -%}
    {% if commentconfig_defaultFetchSize is defined -%}
    defaultFetchSize="{{ commentconfig_defaultFetchSize }}"
    {% endif -%}
    {% if commentconfig_showConnections is defined -%}
    showConnections="{{ commentconfig_showConnections }}"
    {% endif -%}
    {% if commentconfig_showConnectionsInterval is defined -%}
    showConnectionsInterval="{{ commentconfig_showConnectionsInterval }}"
    {% endif -%}
    {% if commentconfig_showConnectionsDuration is defined -%}
    showConnectionsDuration="{{ commentconfig_showConnectionsDuration }}"
    {% endif -%}
    {% if commentconfig_userFileSchema is defined -%}
    userFileSchema="{{ commentconfig_userFileSchema }}"
    {% endif -%}
    {% if commentconfig_userFileUploadDir is defined -%}
    userFileUploadDir="{{ commentconfig_userFileUploadDir }}"
    {% endif -%}
    {% if commentconfig_solrUrl is defined -%}
    solrUrl="{{ commentconfig_solrUrl }}"
    {% endif -%}
/>
