#Templated by Conifer using
#{{ template_path }}
#with vars from
#Cohort: {{ cohort }}
#Project: {{ project }}
#Environment: {{ env|default() }}
#site_vars file: {{ site_vars }}

Allow: /{{ webapp_ctx }}/app/search/organism/GenomeDataTypes/result*
Allow: /{{ webapp_ctx }}/app/record/organism/
Allow: /{{ webapp_ctx }}/*.js
Allow: /{{ webapp_ctx }}/*.css
Allow: /{{ webapp_ctx }}/service/*
Allow: /sitemap.txt

Sitemap: https://{{ project }}.org/sitemap.txt

