<?xml version="1.0" encoding="UTF-8" ?>
<sitemapindex xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/siteindex.xsd" xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
   <sitemap>
      <loc>https://{{ live_hostname }}/sitemap.txt</loc>
   </sitemap>
   <sitemap>
      <loc>https://{{ live_hostname }}/{{ webapp_ctx }}/service/sitemap/dataset</loc>
   </sitemap>
</sitemapindex>