#Templated by Conifer using
#{{ template_path }}
#with vars from
#Cohort: {{ cohort }}
#Project: {{ project }}
#Environment: {{ env|default() }}
#site_vars file: {{ site_vars }}

https://{{ project }}.org/{{ webapp_ctx }}/app/search/organism/GenomeDataTypes/result
