body {
  font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
}

table {
  font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	padding: 6;
	margin-left:auto;
	margin-right:auto;
	width: 680px;

}

table th {
  text-align: center;
	padding: 3;

}

table td {
	padding: 3;

}

p {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

ul {
 position:relative;
 float:left;
 	width:100%;
	/*padding:0 0 1.75em 1em; */
 list-style-type: none;

}

ul li {
 padding-top: 0.5em;
 padding-bottom: 0.5em;
 padding-left: 1em;
 list-style-type: none;
 /* list-style-type: circle; */

}

.subtitle {
  font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	color: #0d3059;
	text-align: left;
	margin-bottom: 3px;
	margin-top: 3px;
	margin-right: 5px;
	margin-left: 10px;
}

.subsubtitle {
  font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	color: #000000;
	text-align: left;
	margin-bottom: 3px;
	margin-top: 3px;
	margin-right: 10px;
	margin-left: 20px;
	padding: 10px;
}

.smalltitle {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	color: #0d3059;
	text-align: left;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

.programinput {
  background: #eeffee;
	font-size: 11px;
	border: solid 1px #aaffaa;
	padding: 6px;
}

.programoutput {
  background: #eeeeff;
	border: solid 1px #aaaaff;
	padding: 0.5em;
}

.programdata {
  background: #eeeeee;
  border: solid 1px #aaaaaa;
  padding: 0.5em;
}

