.wdk-TabsContainer.wdk-MutuallyExclusiveParamsGroupContainer {
  width: 100%;
  margin-top: 1em;

  .wdk-Tabs {
    & {
      display: flex;
      width: 100%;
      border-bottom: 1px solid #CCC;
    }

    .wdk-Tab {
      cursor: pointer;
      background: #E6E6E6;
      margin: 0 0.5em -1px 0;
      border: 1px solid #CCC;
      padding: 2px 6px;

      &__active {
        background-color: #FAFAFA;
        border-bottom: unset;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
      }

      &:hover, &:focus, &:active {
        background: #C6C6C6;
      }
    }
  }

  .wdk-TabContent {
    position: relative;
    padding: 1em;
    border-top: none;
    background-color: #FAFAFA;
  }
}
