<?xml version="1.0" encoding="UTF-8" ?>

<modelConfig modelName="apiCommonModel"
             webServiceUrl="http://cryptodb.org/cryptodb/services/WsfService"
             smtpServer="127.0.0.1"
             supportEmail="support@wdk.org"
             defaultRole="wdk_user"
             >
             
    <appDb  login="xxxxx"
            password="xxxxx"
            connectionUrl="jdbc:oracle:oci:@cryptoXXX"
            platform="Oracle"
            maxActive="20"
            maxIdle="10"
            minIdle="1"
            maxWait="50"
            showConnections="false"
            showConnectionsInterval="10"
            showConnectionsDuration="600"
            userDbLink="@apidb.login_comment" 
            />
             
    <userDb login="xxxx"
            password="xxxx"
            connectionUrl="jdbc:oracle:oci:@apicomm"
            platform="Oracle"
            maxActive="20"
            maxIdle="1"
            minIdle="1"
            maxWait="50"
            showConnections="false"
            showConnectionsInterval="10"
            showConnectionsDuration="600"
            userSchema="userlogins3."
            wdkEngineSchema="wdkengine." 
            />
           
    <emailSubject>
         <![CDATA[
            Your CryptoDB/ApiDB Password
         ]]>
    </emailSubject>
    <emailContent>
         <![CDATA[
        <p>Thank you for registering at CryptoDB.org, a member of the ApiDB Bioinformatics Resource Center.</p>
        <p>Your temporary password is: $$PASSWORD$$</p>
        <p>You may now login to <a href="http://cryptodb.org">CryptoDB</a> or other ApiDB member site.</p>
         ]]>
    </emailContent>
</modelConfig>

