@import '@veupathdb/web-common/lib/styles/collapsed-header-mixins.scss';

body.vpdb-Body .vpdb-RootContainer__jbrowse {
  @include collapsed-header-page-layout;

  .vpdb-Main {
    margin: 0;
    padding: 0;
    iframe {
      border: none;
    }
  }
}
