# $Revision: 35977 $

LOGIN_SCHEMA=userlogins3.

COMMENT_SCHEMA=comments2.

LOGIN_DBLINK=@apidb.LOGIN_COMMENT

COMMENT_DBLINK=@apidb.LOGIN_COMMENT

SITE_ADMIN_EMAIL = mheiges@uga.edu,aurreco@uga.edu,sfischer@pcbi.upenn.edu,jerric@pcbi.upenn.edu

PROJECT_ID=ToxoDB

MERCATOR_OUTPUT_DIR=
MERCATOR_OUTPUT_DIR_PAIRWISE=/var/www/jbresteltoxodb.apidb.org/toxo43_mercator-MAVID

CNDSRC_BIN=/usr/local/cndsrc-2006.09.19/bin/

WEBSERVICEMIRROR=/var/www/Common/apiSiteFilesMirror/webServices/

# social media link IDs
FACEBOOK_ID=FungiDB
TWITTER_ID=FungiDB
