<?xml version="1.0" encoding="UTF-8" ?>

<modelConfig modelName="apiCommonModel"
             webServiceUrl="http://qa.plasmodb.org/plasmodb/services/WsfService"
             smtpServer="127.0.0.1"
             supportEmail="help@plasmodb.org"
             defaultRole="wdk_user"
             >
             
    <appDb  login="XXXXXXXX"
            password="XXXXXXXX"
            connectionUrl="jdbc:oracle:oci:@YYYYY"
            platform="Oracle"
            maxActive="20"
            maxIdle="10"
            minIdle="1"
            maxWait="50"
            showConnections="false"
            showConnectionsInterval="10"
            showConnectionsDuration="600"
            userDbLink="@apidb.login_comment" 
            />
             
    <userDb login="XXXXXXXX"
            password="XXXXXXXX"
            connectionUrl="jdbc:oracle:oci:@apicomm"
            platform="Oracle"
            maxActive="20"
            maxIdle="1"
            minIdle="1"
            maxWait="50"
            showConnections="false"
            showConnectionsInterval="10"
            showConnectionsDuration="600"
            userSchema="userlogins3."
            wdkEngineSchema="wdkengine." 
            />
           
    <emailSubject>
         <![CDATA[
            Your PlasmoDB/ApiDB Password
         ]]>
    </emailSubject>
    <emailContent>
        <![CDATA[
        <p>Thank you for registering at PlasmoDB.org, a member of the ApiDB Bioinformatics Resource Center.</p>
        <p>Your temporary password is: $$PASSWORD$$</p>
        <p>You may now login to <a href="http://plasmodb.org">PlasmoDB</a> or other ApiDB member site.</p>
        ]]>
    </emailContent>
</modelConfig>

