# $Revision$

LOGIN_SCHEMA=userlogins3.

COMMENT_SCHEMA=comments2.

LOGIN_DBLINK=@apidb.LOGIN_COMMENT

COMMENT_DBLINK=@apidb.LOGIN_COMMENT

PROJECT_ID=MicrosporidiaDB

SITE_ADMIN_EMAIL = mheiges@uga.edu

CNDSRC_BIN=/usr/local/cndsrc-2006.09.19/bin/

WEBSERVICEMIRROR=/var/www/Common/apiSiteFilesMirror/webServices/

