# dots.similarity.row_alg_invocation_id for BLASTP
BLASTP_ALG_ID = 127,128

CONTIG_TYPE_NAME=Contig
SUPERCONTIG_TYPE_NAME=Supercontig

GENBANK_PROTEIN_ID_URL=http://www.ncbi.nlm.nih.gov/entrez/viewer.fcgi?val=\\$\\$protein_id\\$\\$
GENBANK_GENE_ID_URL=http://www.ncbi.nlm.nih.gov/entrez/viewer.fcgi?val=\\$\\$primaryKey\\$\\$

GENBANK_CONTIG_ID_URL=http://www.ncbi.nlm.nih.gov/entrez/viewer.fcgi?val=\\$\\$secondary_identifier\\$\\$

PATHWAYTOOLS_CONTIG_URL=http://apicyc.apidb.org/\\$\\$trich_db\\$\\$/new-image?object=\\$\\$primaryKey\\$\\$

PATHWAYTOOLS_GENE_URL=http://apicyc.apidb.org/\\$\\$trich_db\\$\\$/new-image?type=GENE-IN-CHROM-BROWSER&object=\\$\\$primaryKey\\$\\$

SGC_URL=http://www.sgc.utoronto.ca/SGC-WebPages/StructureDescription/\\$\\$pdb_id\\$\\$.php

SRT_CONTIG_URL=/cgi-bin/contigSrt

GENE_BY_CONTIG_URL=processQuestion.do?questionFullName=GeneQuestions.GenesByLocation&myProp%28parvum_chromosome%29=choose+one&myProp%28contig%29=\\$\\$source_id\\$\\$&myProp%28start_location%29=1&myProp%28end_location%29=0

SITE_ADMIN_EMAIL = aurreco@uga.edu

LOGIN_SCHEMA = userlogins3.
COMMENT_SCHEMA=comments2.
LOGIN_DBLINK=@apidb.LOGIN_COMMENT
COMMENT_DBLINK=@apidb.LOGIN_COMMENT

PROTEIN_ID_URL=http://www.ncbi.nlm.nih.gov/entrez/viewer.fcgi?val=\\$\\$protein_id\\$\\$
NRDB_ID_URL=http://www.ncbi.nlm.nih.gov/entrez/viewer.fcgi?val=\\$\\$secondary_identifier\\$\\$

GBROWSE_BASE_URL=http://trichdb.org
WEBAPP_NAME=trichdb1.0

PROJECT_ID=TrichDB

TRICH_BLAST_PATH=
