LOGIN_SCHEMA=userlogins3.

COMMENT_SCHEMA=comments2.

LOGIN_DBLINK=@apidb.LOGIN_COMMENT

COMMENT_DBLINK=@apidb.LOGIN_COMMENT

PROJECT_ID=ToxoDB

SITE_ADMIN_EMAIL = mheiges@uga.edu

MERCATOR_OUTPUT_DIR=/var/www/jbresteltoxodb.apidb.org/toxo43_mercator-MAVID
CNDSRC_BIN=/usr/local/cndsrc-2006.09.19/bin/

# this empty property is required in component sites; it is included in the model and used by the portal with a specific value. 
# In the component sites it is empty; the full path for blast files appears in the wublast config file.
TOXO_BLAST_PATH=
