.vpdb-FeaturedTools {
  color: #00304c;
  
  h3 {
    font-size: 2em;
    margin: 0.25em 0;
    padding: 0;
  }

  h5 {
    font-size: 1.66666666667em;
    font-weight: 300;
  }

  &Header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      font-size: 1.2em;
      color: #00304c;
    }
  }

  &List {
    display: flex;
    flex-direction: column;
    align-items: center;

    &Items {
      display: flex;
      font-weight: 500;
      margin: 1.25em 0;
      overflow-x: auto;
    }

    &Item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      flex: 1 0;
      margin: 0 1em;

      padding-bottom: 0.5em;
      border-bottom: 0.5em solid transparent;

      color: #00304c;

      &IconContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.75em;
        width: 1.75em;

        border: 0.05em solid #00304c;
        border-radius: 0.25em;
        padding: 0.25em;
        font-size: 2em;

        box-shadow: 1px 1px 8px #00000085;
      }

      &Caption {
        margin-top: 0.25em;
      }
      
      &:hover {
        text-decoration: none;

        .vpdb-FeaturedToolsListItemIconContainer {
          border: 0.075em solid #00304c;
        }
      }

      &__selected, &__selected:active, &__selected:hover, &__selected:link, &__selected:visited {
        outline: none;
        text-decoration: none;
        font-weight: bold;

        border-color: #00304c;

        .vpdb-FeaturedToolsListItemIconContainer {
          border: 0.2em solid #00304c;
        }
      }
    }
  }

  &Selection {
    box-shadow: 0px 0px 12px 0px #0000001a;
    width: 90%;

    &Header {
      color: white;
      padding: 0.25em 1.25rem;
      margin: 0;
    }

    &Body {
      padding: 1.25rem;
      font-size: 1.2em;
      overflow-x: auto;
    }
  }
}
