.vpdb-WorkshopExercises {
  .vpdb-ExerciseList {
    display: flex;
    
    &__expanded {
      display: grid;
      grid-template-columns: repeat(auto-fill, 250px);
    }

    &Item {
      width: 250px;
    }
  }
}
