/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =TAGS 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body {
	background-image: url(../images/FungiDB/background_s.jpg);
}

a:link, a:visited, div.divlink, .link {
	color: #067387;
}

a:hover, a:active, a:focus, div.divlink:hover, .link:hover {
	color: #672a87;   /* #4eb8cb; */
}

a[name]:link {
	color: black;
}

a[name]:visited {
	color: black;
}

a[name]:hover, a[name]:active {
	color:  black;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =HEADER 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/	

#header {
	background-image: url(../images/FungiDB/backgroundtop_s.jpg);
}

#header2 {
	background-image: url(../images/FungiDB/backgroundtop_s.jpg);
}

#header_rt {
   color: #067387;
}

#header_rt a:link, #header_rt a:visited {
   color: #067387;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =HEADER DROPDOWN MENU
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/	

#nav-top {
	color: #067387;
}

#nav-top a:link, #nav-top a:visited {
	color:  #067387;
}

#nav-top li ul {  /* second-level lists */
	background-image: url(../images/FungiDB/footer.png);
	border-color:#067387;
	list-style-image: url(../images/FungiDB/bullet_arrow.gif);
}

#nav-top li ul a:link, #nav-top li ul a:visited {
	color: #067387;
}

#nav-top li ul a:hover, #nav-top li ul a:active {
	color: #672a87; 
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =HOME 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/	

/* #bubbles .info {
  min-height: 299px;
} */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =STRUCTURE 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/	

/* #menubar #mysearch {
	background-image: url(../images/FungiDB/my_hist_menubar.png);
	border: 1px solid #175982;
} */

#contentcolumn {
	background-image: url(../images/FungiDB/footer.png);
	border: 1px solid #116b7b;
}

#contentcolumn2 {
	background-image: url(../images/FungiDB/footer.png);
	border: 1px solid #116b7b;
}

#mysearchhist {
	background-image: url(../images/FungiDB/bubble_my_searchbox.png);
	border: 1px solid #116b7b;
}

#main_tools {
	background-image: url(../images/FungiDB/tools_bckgnd.jpg);
}

#about_us_left {
	background-color: #bfccdf;
	list-style-image: url(../images/FungiDB/bullet_arrow.gif);
}

#pink_title {
	color: #672a87;
	background-image: url(../images/FungiDB/trheader.png);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Top Menu Bar Dropdown List
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#menu a:hover, #menu a:active, #strategy_tabs #selected a {
	color:#672a87;   /*  #3B1870; */
}

#menu ul ul a:link, #menu ul ul a:visited{
	border-bottom-color: #414141;
}

#menu ul ul a:hover, #menu ul ul a:active{
	border-bottom-color: #a45d35;
	color: #672a87;   /* #4eb8cb; */
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Menu Lists
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.menu_lefttop_drop {
   border-color: #9c5bbe;  /* color as in contentcolumn border */
}

#menu_lefttop a.heading {
	background-image: url(../images/FungiDB/menu_lft2.png);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Search Boxes
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.search-box{
   border: solid 1px #157485;
} 

.search-box .textbox{
	border: solid 1px #b3b3b3;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Arrow Chains 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/	


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Fonts 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

h1 {
	color: #672a87;  /* #3B1870; */
}

h2 {
  	color: #672a87;  /*  #3B1870; */
}

.h2center, .h3left,.h3center, .h4left {
  	color: #672a87;  /* #3B1870; */
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =FOOTER  
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#footer{
    background-image: url(../images/FungiDB/footer.png);
 }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =TABLES 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

td.headerrow {
	color: #0c3f60;
	background-image: url(../images/FungiDB/trheader.png);
}

tr.headerrow {
	color: #672a87;
}

tr.headerrow th, .flexigrid tr.headerrow th#primary_key:hover {
	background-image: url(../images/FungiDB/trheader.png);
}

.flexigrid tr.headerrow th:hover {
	background-image: url(../images/FungiDB/trhover.png);
}

td.subheaderrow {
	background-image: url(../images/FungiDB/trsubhead.png);
}

tr.subheaderrow th {
	background-image: url(../images/FungiDB/trsubhead.png);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =FOR QUERY GRID
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

tr.headerrow2 td{
        color: #672a87;
	background-image: url(../images/FungiDB/trheader.png);
}

tr.subheaderrow2 td{
	background-image: url(../images/FungiDB/trsubhead.png);
}

a.queryGridInactive {
        color:              #C8C8C8;
}

a.queryGridActive {
        color:              #672a87;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =END OF TABLES FOR QUERY GRID
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

tr.subheaderrow th {
	border-color: #672a87;
}

tr.headerrow th { 
	border-color: #067387;    /*  #672a87; */
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    =RED BUTTON
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =WorkSpace Divs 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =ABOUT US and HELP PAGES SIDEBAR
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.twoColHybLt #sidebar1 {
	background-image: url(../images/FungiDB/aboutus.jpg);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =WARNING BOXES 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =ADVANCED STRATEGY PAGING 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =used in contact.do, classic bullet list
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =MISC 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

span.marker a:link, span.marker a:visited {
	color: #7D0101;
}

#strategy_tabs a:link, #strategy_tabs a:visited {
    background-color: #E8EBF0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 = styles for blockUI popups
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.blockMsg{
	border: 1px solid #634697;
}

.blockPage{
	background-image: url(../images/FungiDB/footer.png);
}

.flexigrid div.hDiv {
	background-image:url(../images/FungiDB/trheader.png);
}

.flexigrid div.hDiv th.thMove {
	background-image:url(../images/FungiDB/trheader.png);
}

div.colCopy {
	background-image:url(../images/FungiDB/trheader.png);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 history.css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 Strategy.css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 filter_menu.css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#query_form {
	border: 1px solid #015f9a;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 dataset-searches.css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#dataset-records th {
  color: #672a87;
}

/*THE END */
