<TABLE><TMPL_LOOP DATA><TR><TMPL_IF SINGLE><TD colspan='2'><TMPL_VAR SINGLE></TD><TMPL_ELSE><TD valign='top'><TMPL_VAR KEY></TD><TD valign='top'><TMPL_VAR VALUE></TD></TMPL_IF></TR></TMPL_LOOP></TABLE>
