/* Body text and page background */

body{

          margin: 0;

          padding: 0;

}

/* Style for main content column */

#main{

       margin: 1em;

       /* margin-left must equal */

       /* total width of left sidebar */

       margin-left: 10em;

}

/* Style for sidebar column */

#sidebar{

           float: left;

           display: inline;

           padding: 0;

           margin: 1em;

           width:8em;
 
           border:thin dashed green 

            /* Total width is 10em */

}
